<style>
	.owl-controls {
    	display: none!important; 
	}
	.owl-controlss {
    	background: none;
    	margin-bottom: 20px
	}
	.owl-buttons {
		text-align: center;
	}
</style>
<!-- bread-crumb start here -->
<div class="bread-crumb">
	<img src="../assets/images/banner_top.jpg" class="img-responsive" alt="banner-top" title="banner-top">
	<div class="container">
		<div class="matter">
			<h2>our Blog</h2>
			<ul class="list-inline">
				<li><a href="/">HOME</a></li>
				<li><a href="/our-blog">our blog</a></li>
			</ul>
		</div>
	</div>
</div>
<!-- bread-crumb end here -->

<!-- blog start here -->	
<div class="blog-detail">
	<div class="container">
		<div class="row">
			<div class="col-md-4 col-sm-4 col-lg-4 col-xs-12">
				<div class="left-box">
					<div class="search">
						<form>
							<fieldset>
								<div class="form-group">
									<input name="s" value="" class="form-control" placeholder="Search" ng-model="filter" type="text" required/>
								</div>
								<button type="submit" value="submit" class="btn" disabled="true"><i class="icofont icofont-search"></i></button>
							</fieldset>
						</form>
					</div>
				</div>
				<div class="left-box">
					<h6>RECENT BLOG POSTS</h6>
					<div class="latest">
						<ul class="list-unstyled">
							<li ng-repeat="blog in blogs | filter : filter | orderBy : '-' track by $index" ng-if="$index != blogs.length - index - 1">
								<img ng-src="{{blog.image}}" class="img-responsive" alt="image" title="image">
								<div class="caption">
									<h3>{{blog.title}}</h3>
									<p class="test">{{blog.date}}</p>
									<p class="desc">{{blog.description}}</p>
								</div>
							</li>
						</ul>
					</div>
				</div>
				<div class="left-box">
					<h6>GALLERY</h6>
					<div class="gallery">
						<ul class="list-inline">
							<li><img src="../assets/images/blog-detail/galery1.jpg" alt="img" title="img" class="img-responsive" /></li>
							<li><img src="../assets/images/blog-detail/galery2.jpg" alt="img" title="img" class="img-responsive" /></li>
							<li><img src="../assets/images/blog-detail/galery3.jpg" alt="img" title="img" class="img-responsive" /></li>
							<li><img src="../assets/images/blog-detail/galery4.jpg" alt="img" title="img" class="img-responsive" /></li>
							<li><img src="../assets/images/blog-detail/galery5.jpg" alt="img" title="img" class="img-responsive" /></li>
							<li><img src="../assets/images/blog-detail/galery6.jpg" alt="img" title="img" class="img-responsive" /></li>
							<li><img src="../assets/images/blog-detail/galery7.jpg" alt="img" title="img" class="img-responsive" /></li>
							<li><img src="../assets/images/blog-detail/galery8.jpg" alt="img" title="img" class="img-responsive" /></li>
							<li><img src="../assets/images/blog-detail/galery9.jpg" alt="img" title="img" class="img-responsive" /></li>
						</ul>
					</div>
				</div>
				<div class="left-box">
					<h6>TAGS</h6>
					<div class="tag">
						<ul class="list-inline">
							<li><a href="#">Pizza</a></li>
							<li><a href="#">Burger</a></li>
							<li><a href="#">Breakfast</a></li>
							<li><a href="#">Lunch</a></li>
							<li><a href="#">Dinner</a></li>
							<li><a href="#">Fast Food</a></li>
							<li><a href="#">Tandoori Chicken</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-md-8 col-sm-8 col-lg-8 col-xs-12">
				<div class="blogs owl-carousel">
					<div class="item">
						<div class="image">
							<a href="#"><img ng-src="{{blogs[index].image}}" alt="blog-big" title="blog-big" class="img-responsive" /></a>
						</div>
						<h4>{{blogs[index].title}}</h4>
						<p class="text">{{blogs[index].date}} / By {{blogs[index].uploaded_by}} / {{blogs[index].comments.length}} comments</p>
						<p class="des" ng-repeat="content in blogs[index].content track by $index" ng-if="$index < blogs[index].content.length - 1">{{content}}</p>
						<p class="des2">{{blogs[index].highlight}}</p>
						<p class="des">{{blogs[index].content[blogs[index].content.length - 1]}}</p>
						<div class="link">
							<ul class="list-inline pull-left icon">
								<li>Tags : </li>
								<li ng-repeat="tag in blogs[index].tags track by $index"><a href="#">{{tag}}&nbsp</a></li>
							</ul>
							<ul class="list-inline pull-right social">
								<li>Share : </li>
								<li><a href="https://www.facebook.com/" target="_blank"><i class="icofont icofont-social-facebook"></i></a></li>
								<li><a href="https://twitter.com/" target="_blank"><i class="icofont icofont-social-twitter"></i></a></li>
								<li><a href="https://plus.google.com/" target="_blank"><i class="icofont icofont-social-google-plus"></i></a></li>
								<li><a href="https://in.pinterest.com/" target="_blank"><i class="icofont icofont-social-pinterest"></i></a></li>
								<li><a href="https://www.instagram.com/" target="_blank"><i class="icofont icofont-social-instagram"></i></a></li>
								<li><a href="https://www.youtube.com/" target="_blank"><i class="icofont icofont-social-youtube-play"></i></a></li>
							</ul>
						</div>
						<div class="owl-controlss clickable">
							<div class="owl-buttons">
								<a class="owl-prev" ng-click="(index) ? index - 1 : index"><i class="icofont icofont-long-arrow-left fa1"></i> Prev</a>
								<a class="owl-next" ng-click="(index < blogs.length) ? index + 1 : index">Next <i class="icofont icofont-long-arrow-right fa2"></i></a>
							</div>
						</div>
					</div>
				</div>
				
				<div class="comment">
					<h3>COMMENTS ({{blogs[index].comments.length}})</h3>
					<ul class="list-unstyled">
						<li ng-repeat="comment in blogs[index].comments | orderBy:'-'  track by $index">
							<img ng-src="{{comment.image}}" alt="img" title="img" class="img-responsive">
							<div class="caption">
								<h5>{{comment.sender}}</h5>
								<span>{{comment.date}}<a href="#" class="pull-right"><i class="icofont icofont-reply"></i> Reply</a></span>
								<p>{{comment.content}}</p>
							</div>
						</li>	
					</ul>
					<h3>POST A COMMENT</h3>
					<form class="form-horizontal" ng-submit="postComment(commentData)">
						<fieldset>
							<div class="form-group">
								<div class="col-sm-6">
									<input class="form-control" ng-model="commentData.name" placeholder="Name*" id="input-name" value="" name="jobname" required="" type="text" required/>
								</div>
								<div class="col-sm-6">
									<input class="form-control" ng-model="commentData.email" id="input-email" placeholder="Email*" value="" name="email" required="" type="text" required/>
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-12">
									<textarea class="form-control" ng-model="commentData.content" id="input-enquiry" rows="10" name="enquiry" placeholder="Write a comment" required/></textarea>
								</div>
							</div>
							<button type="submit" value="Submit" class="btn btn-primary btnus">Post Comment</button>
						</fieldset>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- blog end here -->
<script src="assets/js/jquery.2.1.1.min.js" type="text/javascript"></script>
<!--internal js-->
<script src="assets/js/internal.js" type="text/javascript"></script>
<!-- owlcarousel js -->
<script src="assets/js/owl-carousel/owl.carousel.min.js" type="text/javascript"></script>