<!-- Owl Carousel slider start here -->
<div class="slide"> 
	<div class="slideshow owl-carousel">
		<div class="item">
			<img src="assets/images/banner.jpg" alt="banner" title="banner" class="img-responsive"/>
		</div>
		<div class="item">
			<img src="assets/images/banner.jpg" alt="banner" title="banner" class="img-responsive"/>
		</div>
		<div class="item">
			<img src="assets/images/banner.jpg" alt="banner" title="banner" class="img-responsive"/>
		</div>
	</div>


	<!-- slide-detail start here -->
	<div class="slide-detail">
		<div class="container">
			<img src="assets/images/logo1.png" alt="logo1" title="logo1" class="img-responsive" />
			<h4>good food & good health</h4>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam efficitur placerat nulla, in suscipit erat sodales id. Nullam ultricies eu turpis at accumsan. Mauris a sodales mi, eget lobortis nulla.</p>
			<button type="button" class="btn-primary" onclick="location.href='/our-menu'">our menu</button>
			<button type="button" class="btn-primary" onclick="location.href='/shops'">PURCHASE NOW</button> 
		</div>
	</div>	
	<!-- slide-detail end here -->
</div>
<!-- Owl Carousel slider end here -->


<!-- order start here -->
<div class="container">
	<div class="row">
		<div class="col-sm-12 commontop text-center">
			<h4>order delivery and take out</h4>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam efficitur placerat nulla, in suscipit erat sodales id. Nullam ultricies eu turpis at accumsan. Mauris a sodales mi, eget lobortis nulla.</p>
			<hr>
		</div>
		<div class="col-sm-6 order col-sm-offset-3">
			<form class="form-horizontal search-icon" method="post">
				<fieldset>
					<div class="form-group">
						<input name="s" value="" placeholder="Search keyword"  class="form-control" type="text">
					</div>
					<button type="submit" value="submit" class="btn"><i class="icofont icofont-search"></i>search</button>
				</fieldset>
			</form>
			<ul class="list-inline text-center">
				<li>
					<i class="icofont icofont-fast-food"></i>
					<p>Select Food</p>
				</li>
				<li>
					<i class="icofont icofont-food-basket"></i>
					<p>Order Food</p>
				</li>
				<li>
					<i class="icofont icofont-fast-delivery"></i>
					<p>Delivery or Take Out</p>
				</li>
				
			</ul>
			<img src="assets/images/lines.png" alt="line" title="line" class="img-responsive" />
		</div>
	</div>
</div>
<!-- order end here -->

<!-- about start here -->
<div class="about">
	<div class="container">
		<div class="row">
			<div class="col-sm-7 col-xs-12 commontop text-left">
				<h4>about our restaurant food & drinkes</h4>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam efficitur placerat nulla, in suscipit erat sodales id. Nullam ultricies eu turpis at accumsan.</p>
				<hr>
			</div>
			<div class="col-sm-7 col-xs-12">
				<p class="des">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam efficitur placerat nulla, in suscipit erat sodales id. Nullam ultricies eu turpis at accumsan. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam efficitur placerat nulla, in suscipit erat sodales id. Nullam ultricies eu turpis at accumsan. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam efficitur placerat nulla, in suscipit erat sodales id. Nullam ultricies eu turpis at accumsan. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam efficitur placerat nulla, in suscipit erat sodales id. Nullam ultricies eu turpis at accumsan. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam efficitur placerat nulla, in suscipit erat sodales id. Nullam ultricies eu turpis at accumsan. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam efficitur placerat nulla, in suscipit erat sodales id.</p>
				<button type="button" class="btn-primary" onclick="location.href='/about-us'">read more <i class="icofont icofont-curved-double-right"></i></button>
			</div>
		</div>
	</div>
</div>
<!-- about end here -->

<!-- menu start here -->
<div class="menu">
	<div class="container">
		<div class="row ">
			<div class="col-sm-12 col-xs-12 commontop text-center">
				<h4>our menu</h4>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam efficitur placerat nulla, in suscipit erat sodales id. Nullam ultricies eu turpis at accumsan. Mauris a sodales mi, eget lobortis nulla.</p>
				<hr>
			</div>
			<div class="col-sm-12 col-xs-12">
				<ul class="nav nav-tabs list-inline">
					<li ng-class="(filter == 'all') ? 'active' : ''">
						<a ng-click="filter = 'all'" aria-expanded="true">all</a>
					</li>
					<li ng-class="(filter == 'breakfast') ? 'active' : ''">
						<a ng-click="filter = 'breakfast'" aria-expanded="false">breakfast</a>
					</li>
					<li ng-class="(filter == 'lunch') ? 'active' : ''">
						<a ng-click="filter = 'lunch'" aria-expanded="false">lunch</a>
					</li>
					<li ng-class="(filter == 'dinner') ? 'active' : ''">
						<a ng-click="filter = 'dinner'" aria-expanded="false">dinner</a>
					</li>
					<li ng-class="(filter == 'drinks') ? 'active' : ''">
						<a ng-click="filter = 'drinks'" aria-expanded="false">drinks</a>
					</li>
					<li ng-class="(filter == 'others') ? 'active' : ''">
						<a ng-click="filter = 'others'" aria-expanded="false">others</a>
					</li>
				</ul>
				<div  class="tab-content">
					<div class="tab-pane active">
						<div class="row">
							<div class="col-md-4 col-sm-6 col-xs-12" ng-repeat="recipe in recipes | filter: {type : filter} track by $index">
								<div class="box">
									<div class="image">
										<img ng-src="{{recipe.image}}" alt="image" title="image" class="img-responsive" />
									</div>
									<div class="caption">
										<h4>{{recipe.name}}</h4>
										<p class="des">{{recipe.description}}</p>
										<div class="price">${{recipe.price}}</div>
										<div class="icon text-right">
											<a ><i class="icofont icofont-cart-alt"></i></a>
											<a ><i class="icofont icofont-heart"></i></a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="text-center">
					<button type="button" class="btn-primary" href="/our-menu">view more <i class="icofont icofont-curved-double-right"></i></button>
				</div>	
			</div>
		</div>
	</div>
</div>
<!-- menu end here -->
<!-- reservation start here -->
<div class="reservation">
	<div class="container">
		<div class="row ">
			<div class="col-sm-12 commontop text-center">
				<h4>reservation</h4>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam efficitur placerat nulla, in suscipit erat sodales id. Nullam ultricies eu turpis at accumsan. Mauris a sodales mi, eget lobortis nulla.</p>
				<hr>
			</div>
			<div class="col-sm-12 col-xs-12">
				<form ng-submit="doReservation(reserveData)" role="form" class="row">
					<div class="form-group">
						<div class="col-sm-4">
							<i class="icofont icofont-ui-user"></i><input name="name" placeholder="name" id="input-name" ng-model="reserveData.name" class="form-control" type="text" required/>
						</div>
						<div class="col-sm-4">
							<i class="icofont icofont-ui-message"></i><input name="email" placeholder="email" ng-model="reserveData.email"  id="input-email" class="form-control" type="email" required/>
						</div>
						<div class="col-sm-4">
							<i class="icofont icofont-phone"></i><input name="mobile" placeholder="mobile number" ng-model="reserveData.mobile"  id="input-mobile" class="form-control" type="text" min="0" required/>
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-4">
							<i class="icofont icofont-ui-calendar"></i><input name="date" placeholder="date" ng-model="reserveData.date"  id="input-date" class="form-control" type="text" required/>
						</div> 
						<div class="col-sm-4">
							<i class="icofont icofont-clock-time"></i><input name="time" placeholder="time" ng-model="reserveData.time"  id="input-time" class="form-control" type="text" required/>
						</div>
						<div class="col-sm-4">
							<i class="fa fa-key"></i>
							<select class="selectpicker form-control bs-select-hidden" ng-model="$parent.reserveData.no_persons">
								<option value="0" disabled="true">number of persons</option>
								<option value="1">1</option>
								<option value="2">2</option>
								<option value="2">3</option>
								<option value="2">4</option>
								<option value="2">5</option>
							</select>
						</div>
					</div>
					<div class="text-center">
						<button type="submit" class="btn-primary">book now</button>
					</div>	
				</form>
			</div>
		</div>
	</div>
</div>
<!-- reservation end here -->
<!-- dishes start here -->
<div class="dishes">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 commontop text-center">
				<h4>our popular dishes</h4>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam efficitur placerat nulla, in suscipit erat sodales id. Nullam ultricies eu turpis at accumsan. Mauris a sodales mi, eget lobortis nulla.</p>
				<hr>
			</div>
		
	<div class="dish owl-carousel">
		<div class="item" ng-repeat="recipe in recipes | filter : {type : 'dish'} track by $index">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<div class="box">
					<a href="/shop"><img ng-src="{{recipe.image}}" alt="image" title="image" class="img-responsive" /></a>
					<div class="caption">
						<h4>{{recipe.title}}</h4>
						<p>${{recipe.price}}</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	</div>
	</div>
</div>
<!-- dishes end here -->
<!-- jquery -->
<script src="assets/js/jquery.2.1.1.min.js" type="text/javascript"></script>
<!--bootstrap select-->
<script src="assets/js/bootstrap-select.js" type="text/javascript"></script>
<!--internal js-->
<script src="assets/js/internal.js" type="text/javascript"></script>
<!-- owlcarousel js -->
<script src="assets/js/owl-carousel/owl.carousel.min.js" type="text/javascript"></script>