<!-- Owl Carousel slider start here -->
<div class="slide"> 
	<div class="slideshow owl-carousel">
		<div class="item">
			<img src="assets/images/banner.jpg" alt="banner" title="banner" class="img-responsive"/>
		</div>
		<div class="item">
			<img src="assets/images/banner.jpg" alt="banner" title="banner" class="img-responsive"/>
		</div>
		<div class="item">
			<img src="assets/images/banner.jpg" alt="banner" title="banner" class="img-responsive"/>
		</div>
	</div>


	<!-- slide-detail start here -->
	<div class="slide-detail">
		<div class="container">
			<img src="assets/images/logo1.png" alt="logo1" title="logo1" class="img-responsive" />
			<h4>good food & good health</h4>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam efficitur placerat nulla, in suscipit erat sodales id. Nullam ultricies eu turpis at accumsan. Mauris a sodales mi, eget lobortis nulla.</p>
			<button type="button" class="btn-primary" onclick="location.href='templates/our_menu.html'">our menu</button>
			<button type="button" class="btn-primary" onclick="location.href='templates/shop.html'">PURCHASE NOW</button> 
		</div>
	</div>	
	<!-- slide-detail end here -->
</div>
<!-- Owl Carousel slider end here -->


<!-- order start here -->
<div class="container">
	<div class="row">
		<div class="col-sm-12 commontop text-center">
			<h4>order delivery and take out</h4>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam efficitur placerat nulla, in suscipit erat sodales id. Nullam ultricies eu turpis at accumsan. Mauris a sodales mi, eget lobortis nulla.</p>
			<hr>
		</div>
		<div class="col-sm-6 order col-sm-offset-3">
			<form class="form-horizontal search-icon" method="post">
				<fieldset>
					<div class="form-group">
						<input name="s" value="" placeholder="Search keyword"  class="form-control" type="text">
					</div>
					<button type="submit" value="submit" class="btn"><i class="icofont icofont-search"></i>search</button>
				</fieldset>
			</form>
			<ul class="list-inline text-center">
				<li>
					<i class="icofont icofont-fast-food"></i>
					<p>Select Food</p>
				</li>
				<li>
					<i class="icofont icofont-food-basket"></i>
					<p>Order Food</p>
				</li>
				<li>
					<i class="icofont icofont-fast-delivery"></i>
					<p>Delivery or Take Out</p>
				</li>
				
			</ul>
			<img src="assets/images/lines.png" alt="line" title="line" class="img-responsive" />
		</div>
	</div>
</div>
<!-- order end here -->

<!-- about start here -->
<div class="about">
	<div class="container">
		<div class="row">
			<div class="col-sm-7 col-xs-12 commontop text-left">
				<h4>about our restaurant food & drinkes</h4>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam efficitur placerat nulla, in suscipit erat sodales id. Nullam ultricies eu turpis at accumsan.</p>
				<hr>
			</div>
			<div class="col-sm-7 col-xs-12">
				<p class="des">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam efficitur placerat nulla, in suscipit erat sodales id. Nullam ultricies eu turpis at accumsan. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam efficitur placerat nulla, in suscipit erat sodales id. Nullam ultricies eu turpis at accumsan. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam efficitur placerat nulla, in suscipit erat sodales id. Nullam ultricies eu turpis at accumsan. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam efficitur placerat nulla, in suscipit erat sodales id. Nullam ultricies eu turpis at accumsan. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam efficitur placerat nulla, in suscipit erat sodales id. Nullam ultricies eu turpis at accumsan. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam efficitur placerat nulla, in suscipit erat sodales id.</p>
				<button type="button" class="btn-primary" onclick="location.href='templates/about_us.html'">read more <i class="icofont icofont-curved-double-right"></i></button>
			</div>
		</div>
	</div>
</div>
<!-- about end here -->

<!-- menu start here -->
<div class="menu">
	<div class="container">
		<div class="row ">
			<div class="col-sm-12 col-xs-12 commontop text-center">
				<h4>our menu</h4>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam efficitur placerat nulla, in suscipit erat sodales id. Nullam ultricies eu turpis at accumsan. Mauris a sodales mi, eget lobortis nulla.</p>
				<hr>
			</div>
			<div class="col-sm-12 col-xs-12">
				<ul class="nav nav-tabs list-inline">
					<li class="active">
						<a href="#all" data-toggle="tab" aria-expanded="true">all</a>
					</li>
					<li class="">
						<a href="#breakfast" data-toggle="tab" aria-expanded="false">breakfast</a>
					</li>
					<li class="">
						<a href="#lunch" data-toggle="tab" aria-expanded="false">lunch</a>
					</li>
					<li class="">
						<a href="#dinner" data-toggle="tab" aria-expanded="false">dinner</a>
					</li>
					<li class="">
						<a href="#drinks" data-toggle="tab" aria-expanded="false">drinks</a>
					</li>
					<li class="">
						<a href="#others" data-toggle="tab" aria-expanded="false">others</a>
					</li>
				</ul>
				<div  class="tab-content">
					<div class="tab-pane active" id="all">
						<div class="row">
							<div class="col-md-4 col-sm-6 col-xs-12">
								<div class="box">
									<div class="image">
										<img src="assets/images/our-menu/01.jpg" alt="image" title="image" class="img-responsive" />
									</div>
									<div class="caption">
										<h4>Food Title Here</h4>
										<p class="des">Cursus / Dictum / Risus</p>
										<div class="price">$35.00</div>
										<div class="icon text-right">
											<a href="#"><i class="icofont icofont-cart-alt"></i></a>
											<a href="#"><i class="icofont icofont-heart"></i></a>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-4  col-sm-6 col-xs-12">
								<div class="box">
									<div class="image">
										<img src="assets/images/our-menu/04.jpg" alt="image" title="image" class="img-responsive" />
									</div>
									<div class="caption">
										<h4>Food Title Here</h4>
										<p class="des">Cursus / Dictum / Risus</p>
										<div class="price">$35.00</div>
										<div class="icon text-right">
											<a href="#"><i class="icofont icofont-cart-alt"></i></a>
											<a href="#"><i class="icofont icofont-heart"></i></a>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-4 col-sm-6 col-xs-12">
								<div class="box">
									<div class="image">
										<img src="assets/images/our-menu/07.jpg" alt="image" title="image" class="img-responsive" />
									</div>
									<div class="caption">
										<h4>Food Title Here</h4>
										<p class="des">Cursus / Dictum / Risus</p>
										<div class="price">$35.00</div>
										<div class="icon text-right">
											<a href="#"><i class="icofont icofont-cart-alt"></i></a>
											<a href="#"><i class="icofont icofont-heart"></i></a>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-4 col-sm-6 col-xs-12">
								<div class="box">
									<div class="image">
										<img src="assets/images/our-menu/02.jpg" alt="image" title="image" class="img-responsive" />
									</div>
									<div class="caption">
										<h4>Food Title Here</h4>
										<p class="des">Cursus / Dictum / Risus</p>
										<div class="price">$35.00</div>
										<div class="icon text-right">
											<a href="#"><i class="icofont icofont-cart-alt"></i></a>
											<a href="#"><i class="icofont icofont-heart"></i></a>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-4 col-sm-6 col-xs-12">
								<div class="box">
									<div class="image">
										<img src="assets/images/our-menu/05.jpg" alt="image" title="image" class="img-responsive" />
									</div>
									<div class="caption">
										<h4>Food Title Here</h4>
										<p class="des">Cursus / Dictum / Risus</p>
										<div class="price">$35.00</div>
										<div class="icon text-right">
											<a href="#"><i class="icofont icofont-cart-alt"></i></a>
											<a href="#"><i class="icofont icofont-heart"></i></a>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-4 col-sm-6 col-xs-12">
								<div class="box">
									<div class="image">
										<img src="assets/images/our-menu/08.jpg" alt="image" title="image" class="img-responsive" />
									</div>
									<div class="caption">
										<h4>Food Title Here</h4>
										<p class="des">Cursus / Dictum / Risus</p>
										<div class="price">$35.00</div>
										<div class="icon text-right">
											<a href="#"><i class="icofont icofont-cart-alt"></i></a>
											<a href="#"><i class="icofont icofont-heart"></i></a>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-4 col-sm-6 col-xs-12">
								<div class="box">
									<div class="image">
										<img src="assets/images/our-menu/03.jpg" alt="image" title="image" class="img-responsive" />
									</div>
									<div class="caption">
										<h4>Food Title Here</h4>
										<p class="des">Cursus / Dictum / Risus</p>
										<div class="price">$35.00</div>
										<div class="icon text-right">
											<a href="#"><i class="icofont icofont-cart-alt"></i></a>
											<a href="#"><i class="icofont icofont-heart"></i></a>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-4 col-sm-6 col-xs-12">
								<div class="box">
									<div class="image">
										<img src="assets/images/our-menu/06.jpg" alt="image" title="image" class="img-responsive" />
									</div>
									<div class="caption">
										<h4>Food Title Here</h4>
										<p class="des">Cursus / Dictum / Risus</p>
										<div class="price">$35.00</div>
										<div class="icon text-right">
											<a href="#"><i class="icofont icofont-cart-alt"></i></a>
											<a href="#"><i class="icofont icofont-heart"></i></a>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-4 col-sm-6 col-xs-12">
								<div class="box">
									<div class="image">
										<img src="assets/images/our-menu/09.jpg" alt="image" title="image" class="img-responsive" />
									</div>
									<div class="caption">
										<h4>Food Title Here</h4>
										<p class="des">Cursus / Dictum / Risus</p>
										<div class="price">$35.00</div>
										<div class="icon text-right">
											<a href="#"><i class="icofont icofont-cart-alt"></i></a>
											<a href="#"><i class="icofont icofont-heart"></i></a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="tab-pane" id="breakfast">
						<div class="row">
							<div class="col-md-4 col-sm-6 col-xs-12">
								<div class="box">
									<div class="image">
										<img src="assets/images/our-menu/07.jpg" alt="image" title="image" class="img-responsive" />
									</div>
									<div class="caption">
										<h4>Food Title Here</h4>
										<p class="des">Cursus / Dictum / Risus</p>
										<div class="price">$35.00</div>
										<div class="icon text-right">
											<a href="#"><i class="icofont icofont-cart-alt"></i></a>
											<a href="#"><i class="icofont icofont-heart"></i></a>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-4 col-sm-6 col-xs-12">
								<div class="box">
									<div class="image">
										<img src="assets/images/our-menu/02.jpg" alt="image" title="image" class="img-responsive" />
									</div>
									<div class="caption">
										<h4>Food Title Here</h4>
										<p class="des">Cursus / Dictum / Risus</p>
										<div class="price">$35.00</div>
										<div class="icon text-right">
											<a href="#"><i class="icofont icofont-cart-alt"></i></a>
											<a href="#"><i class="icofont icofont-heart"></i></a>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-4 col-sm-6 col-xs-12">
								<div class="box">
									<div class="image">
										<img src="assets/images/our-menu/01.jpg" alt="image" title="image" class="img-responsive" />
									</div>
									<div class="caption">
										<h4>Food Title Here</h4>
										<p class="des">Cursus / Dictum / Risus</p>
										<div class="price">$35.00</div>
										<div class="icon text-right">
											<a href="#"><i class="icofont icofont-cart-alt"></i></a>
											<a href="#"><i class="icofont icofont-heart"></i></a>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-4 col-sm-6 col-xs-12">
								<div class="box">
									<div class="image">
										<img src="assets/images/our-menu/04.jpg" alt="image" title="image" class="img-responsive" />
									</div>
									<div class="caption">
										<h4>Food Title Here</h4>
										<p class="des">Cursus / Dictum / Risus</p>
										<div class="price">$35.00</div>
										<div class="icon text-right">
											<a href="#"><i class="icofont icofont-cart-alt"></i></a>
											<a href="#"><i class="icofont icofont-heart"></i></a>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-4 col-sm-6 col-xs-12">
								<div class="box">
									<div class="image">
										<img src="assets/images/our-menu/05.jpg" alt="image" title="image" class="img-responsive" />
									</div>
									<div class="caption">
										<h4>Food Title Here</h4>
										<p class="des">Cursus / Dictum / Risus</p>
										<div class="price">$35.00</div>
										<div class="icon text-right">
											<a href="#"><i class="icofont icofont-cart-alt"></i></a>
											<a href="#"><i class="icofont icofont-heart"></i></a>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-4 col-sm-6 col-xs-12">
								<div class="box">
									<div class="image">
										<img src="assets/images/our-menu/06.jpg" alt="image" title="image" class="img-responsive" />
									</div>
									<div class="caption">
										<h4>Food Title Here</h4>
										<p class="des">Cursus / Dictum / Risus</p>
										<div class="price">$35.00</div>
										<div class="icon text-right">
											<a href="#"><i class="icofont icofont-cart-alt"></i></a>
											<a href="#"><i class="icofont icofont-heart"></i></a>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-4 col-sm-6 col-xs-12">
								<div class="box">
									<div class="image">
										<img src="assets/images/our-menu/09.jpg" alt="image" title="image" class="img-responsive" />
									</div>
									<div class="caption">
										<h4>Food Title Here</h4>
										<p class="des">Cursus / Dictum / Risus</p>
										<div class="price">$35.00</div>
										<div class="icon text-right">
											<a href="#"><i class="icofont icofont-cart-alt"></i></a>
											<a href="#"><i class="icofont icofont-heart"></i></a>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-4 col-sm-6 col-xs-12">
								<div class="box">
									<div class="image">
										<img src="assets/images/our-menu/08.jpg" alt="image" title="image" class="img-responsive" />
									</div>
									<div class="caption">
										<h4>Food Title Here</h4>
										<p class="des">Cursus / Dictum / Risus</p>
										<div class="price">$35.00</div>
										<div class="icon text-right">
											<a href="#"><i class="icofont icofont-cart-alt"></i></a>
											<a href="#"><i class="icofont icofont-heart"></i></a>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-4 col-sm-6 col-xs-12">
								<div class="box">
									<div class="image">
										<img src="assets/images/our-menu/03.jpg" alt="image" title="image" class="img-responsive" />
									</div>
									<div class="caption">
										<h4>Food Title Here</h4>
										<p class="des">Cursus / Dictum / Risus</p>
										<div class="price">$35.00</div>
										<div class="icon text-right">
											<a href="#"><i class="icofont icofont-cart-alt"></i></a>
											<a href="#"><i class="icofont icofont-heart"></i></a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="tab-pane" id="lunch">
						<div class="row">
							<div class="col-md-4 col-sm-6 col-xs-12">
								<div class="box">
									<div class="image">
										<img src="assets/images/our-menu/01.jpg" alt="image" title="image" class="img-responsive" />
									</div>
									<div class="caption">
										<h4>Food Title Here</h4>
										<p class="des">Cursus / Dictum / Risus</p>
										<div class="price">$35.00</div>
										<div class="icon text-right">
											<a href="#"><i class="icofont icofont-cart-alt"></i></a>
											<a href="#"><i class="icofont icofont-heart"></i></a>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-4 col-sm-6 col-xs-12">
								<div class="box">
									<div class="image">
										<img src="assets/images/our-menu/04.jpg" alt="image" title="image" class="img-responsive" />
									</div>
									<div class="caption">
										<h4>Food Title Here</h4>
										<p class="des">Cursus / Dictum / Risus</p>
										<div class="price">$35.00</div>
										<div class="icon text-right">
											<a href="#"><i class="icofont icofont-cart-alt"></i></a>
											<a href="#"><i class="icofont icofont-heart"></i></a>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-4 col-sm-6 col-xs-12">
								<div class="box">
									<div class="image">
										<img src="assets/images/our-menu/07.jpg" alt="image" title="image" class="img-responsive" />
									</div>
									<div class="caption">
										<h4>Food Title Here</h4>
										<p class="des">Cursus / Dictum / Risus</p>
										<div class="price">$35.00</div>
										<div class="icon text-right">
											<a href="#"><i class="icofont icofont-cart-alt"></i></a>
											<a href="#"><i class="icofont icofont-heart"></i></a>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-4 col-sm-6 col-xs-12">
								<div class="box">
									<div class="image">
										<img src="assets/images/our-menu/02.jpg" alt="image" title="image" class="img-responsive" />
									</div>
									<div class="caption">
										<h4>Food Title Here</h4>
										<p class="des">Cursus / Dictum / Risus</p>
										<div class="price">$35.00</div>
										<div class="icon text-right">
											<a href="#"><i class="icofont icofont-cart-alt"></i></a>
											<a href="#"><i class="icofont icofont-heart"></i></a>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-4 col-sm-6 col-xs-12">
								<div class="box">
									<div class="image">
										<img src="assets/images/our-menu/05.jpg" alt="image" title="image" class="img-responsive" />
									</div>
									<div class="caption">
										<h4>Food Title Here</h4>
										<p class="des">Cursus / Dictum / Risus</p>
										<div class="price">$35.00</div>
										<div class="icon text-right">
											<a href="#"><i class="icofont icofont-cart-alt"></i></a>
											<a href="#"><i class="icofont icofont-heart"></i></a>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-4 col-sm-6 col-xs-12">
								<div class="box">
									<div class="image">
										<img src="assets/images/our-menu/08.jpg" alt="image" title="image" class="img-responsive" />
									</div>
									<div class="caption">
										<h4>Food Title Here</h4>
										<p class="des">Cursus / Dictum / Risus</p>
										<div class="price">$35.00</div>
										<div class="icon text-right">
											<a href="#"><i class="icofont icofont-cart-alt"></i></a>
											<a href="#"><i class="icofont icofont-heart"></i></a>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-4 col-sm-6 col-xs-12">
								<div class="box">
									<div class="image">
										<img src="assets/images/our-menu/03.jpg" alt="image" title="image" class="img-responsive" />
									</div>
									<div class="caption">
										<h4>Food Title Here</h4>
										<p class="des">Cursus / Dictum / Risus</p>
										<div class="price">$35.00</div>
										<div class="icon text-right">
											<a href="#"><i class="icofont icofont-cart-alt"></i></a>
											<a href="#"><i class="icofont icofont-heart"></i></a>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-4 col-sm-6 col-xs-12">
								<div class="box">
									<div class="image">
										<img src="assets/images/our-menu/06.jpg" alt="image" title="image" class="img-responsive" />
									</div>
									<div class="caption">
										<h4>Food Title Here</h4>
										<p class="des">Cursus / Dictum / Risus</p>
										<div class="price">$35.00</div>
										<div class="icon text-right">
											<a href="#"><i class="icofont icofont-cart-alt"></i></a>
											<a href="#"><i class="icofont icofont-heart"></i></a>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-4 col-sm-6 col-xs-12">
								<div class="box">
									<div class="image">
										<img src="assets/images/our-menu/09.jpg" alt="image" title="image" class="img-responsive" />
									</div>
									<div class="caption">
										<h4>Food Title Here</h4>
										<p class="des">Cursus / Dictum / Risus</p>
										<div class="price">$35.00</div>
										<div class="icon text-right">
											<a href="#"><i class="icofont icofont-cart-alt"></i></a>
											<a href="#"><i class="icofont icofont-heart"></i></a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="tab-pane" id="dinner">
						<div class="row">
							<div class="col-md-4 col-sm-6 col-xs-12">
								<div class="box">
									<div class="image">
										<img src="assets/images/our-menu/07.jpg" alt="image" title="image" class="img-responsive" />
									</div>
									<div class="caption">
										<h4>Food Title Here</h4>
										<p class="des">Cursus / Dictum / Risus</p>
										<div class="price">$35.00</div>
										<div class="icon text-right">
											<a href="#"><i class="icofont icofont-cart-alt"></i></a>
											<a href="#"><i class="icofont icofont-heart"></i></a>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-4 col-sm-6 col-xs-12">
								<div class="box">
									<div class="image">
										<img src="assets/images/our-menu/02.jpg" alt="image" title="image" class="img-responsive" />
									</div>
									<div class="caption">
										<h4>Food Title Here</h4>
										<p class="des">Cursus / Dictum / Risus</p>
										<div class="price">$35.00</div>
										<div class="icon text-right">
											<a href="#"><i class="icofont icofont-cart-alt"></i></a>
											<a href="#"><i class="icofont icofont-heart"></i></a>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-4 col-sm-6 col-xs-12">
								<div class="box">
									<div class="image">
										<img src="assets/images/our-menu/01.jpg" alt="image" title="image" class="img-responsive" />
									</div>
									<div class="caption">
										<h4>Food Title Here</h4>
										<p class="des">Cursus / Dictum / Risus</p>
										<div class="price">$35.00</div>
										<div class="icon text-right">
											<a href="#"><i class="icofont icofont-cart-alt"></i></a>
											<a href="#"><i class="icofont icofont-heart"></i></a>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-4 col-sm-6 col-xs-12">
								<div class="box">
									<div class="image">
										<img src="assets/images/our-menu/04.jpg" alt="image" title="image" class="img-responsive" />
									</div>
									<div class="caption">
										<h4>Food Title Here</h4>
										<p class="des">Cursus / Dictum / Risus</p>
										<div class="price">$35.00</div>
										<div class="icon text-right">
											<a href="#"><i class="icofont icofont-cart-alt"></i></a>
											<a href="#"><i class="icofont icofont-heart"></i></a>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-4 col-sm-6 col-xs-12">
								<div class="box">
									<div class="image">
										<img src="assets/images/our-menu/05.jpg" alt="image" title="image" class="img-responsive" />
									</div>
									<div class="caption">
										<h4>Food Title Here</h4>
										<p class="des">Cursus / Dictum / Risus</p>
										<div class="price">$35.00</div>
										<div class="icon text-right">
											<a href="#"><i class="icofont icofont-cart-alt"></i></a>
											<a href="#"><i class="icofont icofont-heart"></i></a>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-4 col-sm-6 col-xs-12">
								<div class="box">
									<div class="image">
										<img src="assets/images/our-menu/08.jpg" alt="image" title="image" class="img-responsive" />
									</div>
									<div class="caption">
										<h4>Food Title Here</h4>
										<p class="des">Cursus / Dictum / Risus</p>
										<div class="price">$35.00</div>
										<div class="icon text-right">
											<a href="#"><i class="icofont icofont-cart-alt"></i></a>
											<a href="#"><i class="icofont icofont-heart"></i></a>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-4 col-sm-6 col-xs-12">
								<div class="box">
									<div class="image">
										<img src="assets/images/our-menu/03.jpg" alt="image" title="image" class="img-responsive" />
									</div>
									<div class="caption">
										<h4>Food Title Here</h4>
										<p class="des">Cursus / Dictum / Risus</p>
										<div class="price">$35.00</div>
										<div class="icon text-right">
											<a href="#"><i class="icofont icofont-cart-alt"></i></a>
											<a href="#"><i class="icofont icofont-heart"></i></a>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-4 col-sm-6 col-xs-12">
								<div class="box">
									<div class="image">
										<img src="assets/images/our-menu/09.jpg" alt="image" title="image" class="img-responsive" />
									</div>
									<div class="caption">
										<h4>Food Title Here</h4>
										<p class="des">Cursus / Dictum / Risus</p>
										<div class="price">$35.00</div>
										<div class="icon text-right">
											<a href="#"><i class="icofont icofont-cart-alt"></i></a>
											<a href="#"><i class="icofont icofont-heart"></i></a>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-4 col-sm-6 col-xs-12">
								<div class="box">
									<div class="image">
										<img src="assets/images/our-menu/06.jpg" alt="image" title="image" class="img-responsive" />
									</div>
									<div class="caption">
										<h4>Food Title Here</h4>
										<p class="des">Cursus / Dictum / Risus</p>
										<div class="price">$35.00</div>
										<div class="icon text-right">
											<a href="#"><i class="icofont icofont-cart-alt"></i></a>
											<a href="#"><i class="icofont icofont-heart"></i></a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="tab-pane" id="drinks">
						<div class="row">
							<div class="col-md-4 col-sm-6 col-xs-12">
								<div class="box">
									<div class="image">
										<img src="assets/images/our-menu/01.jpg" alt="image" title="image" class="img-responsive" />
									</div>
									<div class="caption">
										<h4>Food Title Here</h4>
										<p class="des">Cursus / Dictum / Risus</p>
										<div class="price">$35.00</div>
										<div class="icon text-right">
											<a href="#"><i class="icofont icofont-cart-alt"></i></a>
											<a href="#"><i class="icofont icofont-heart"></i></a>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-4 col-sm-6 col-xs-12">
								<div class="box">
									<div class="image">
										<img src="assets/images/our-menu/04.jpg" alt="image" title="image" class="img-responsive" />
									</div>
									<div class="caption">
										<h4>Food Title Here</h4>
										<p class="des">Cursus / Dictum / Risus</p>
										<div class="price">$35.00</div>
										<div class="icon text-right">
											<a href="#"><i class="icofont icofont-cart-alt"></i></a>
											<a href="#"><i class="icofont icofont-heart"></i></a>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-4 col-sm-6 col-xs-12">
								<div class="box">
									<div class="image">
										<img src="assets/images/our-menu/07.jpg" alt="image" title="image" class="img-responsive" />
									</div>
									<div class="caption">
										<h4>Food Title Here</h4>
										<p class="des">Cursus / Dictum / Risus</p>
										<div class="price">$35.00</div>
										<div class="icon text-right">
											<a href="#"><i class="icofont icofont-cart-alt"></i></a>
											<a href="#"><i class="icofont icofont-heart"></i></a>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-4 col-sm-6 col-xs-12">
								<div class="box">
									<div class="image">
										<img src="assets/images/our-menu/02.jpg" alt="image" title="image" class="img-responsive" />
									</div>
									<div class="caption">
										<h4>Food Title Here</h4>
										<p class="des">Cursus / Dictum / Risus</p>
										<div class="price">$35.00</div>
										<div class="icon text-right">
											<a href="#"><i class="icofont icofont-cart-alt"></i></a>
											<a href="#"><i class="icofont icofont-heart"></i></a>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-4 col-sm-6 col-xs-12">
								<div class="box">
									<div class="image">
										<img src="assets/images/our-menu/05.jpg" alt="image" title="image" class="img-responsive" />
									</div>
									<div class="caption">
										<h4>Food Title Here</h4>
										<p class="des">Cursus / Dictum / Risus</p>
										<div class="price">$35.00</div>
										<div class="icon text-right">
											<a href="#"><i class="icofont icofont-cart-alt"></i></a>
											<a href="#"><i class="icofont icofont-heart"></i></a>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-4 col-sm-6 col-xs-12">
								<div class="box">
									<div class="image">
										<img src="assets/images/our-menu/08.jpg" alt="image" title="image" class="img-responsive" />
									</div>
									<div class="caption">
										<h4>Food Title Here</h4>
										<p class="des">Cursus / Dictum / Risus</p>
										<div class="price">$35.00</div>
										<div class="icon text-right">
											<a href="#"><i class="icofont icofont-cart-alt"></i></a>
											<a href="#"><i class="icofont icofont-heart"></i></a>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-4 col-sm-6 col-xs-12">
								<div class="box">
									<div class="image">
										<img src="assets/images/our-menu/03.jpg" alt="image" title="image" class="img-responsive" />
									</div>
									<div class="caption">
										<h4>Food Title Here</h4>
										<p class="des">Cursus / Dictum / Risus</p>
										<div class="price">$35.00</div>
										<div class="icon text-right">
											<a href="#"><i class="icofont icofont-cart-alt"></i></a>
											<a href="#"><i class="icofont icofont-heart"></i></a>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-4 col-sm-6 col-xs-12">
								<div class="box">
									<div class="image">
										<img src="assets/images/our-menu/06.jpg" alt="image" title="image" class="img-responsive" />
									</div>
									<div class="caption">
										<h4>Food Title Here</h4>
										<p class="des">Cursus / Dictum / Risus</p>
										<div class="price">$35.00</div>
										<div class="icon text-right">
											<a href="#"><i class="icofont icofont-cart-alt"></i></a>
											<a href="#"><i class="icofont icofont-heart"></i></a>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-4 col-sm-6 col-xs-12">
								<div class="box">
									<div class="image">
										<img src="assets/images/our-menu/09.jpg" alt="image" title="image" class="img-responsive" />
									</div>
									<div class="caption">
										<h4>Food Title Here</h4>
										<p class="des">Cursus / Dictum / Risus</p>
										<div class="price">$35.00</div>
										<div class="icon text-right">
											<a href="#"><i class="icofont icofont-cart-alt"></i></a>
											<a href="#"><i class="icofont icofont-heart"></i></a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="tab-pane" id="others">
						<div class="row">
							<div class="col-md-4 col-sm-6 col-xs-12">
								<div class="box">
									<div class="image">
										<img src="assets/images/our-menu/07.jpg" alt="image" title="image" class="img-responsive" />
									</div>
									<div class="caption">
										<h4>Food Title Here</h4>
										<p class="des">Cursus / Dictum / Risus</p>
										<div class="price">$35.00</div>
										<div class="icon text-right">
											<a href="#"><i class="icofont icofont-cart-alt"></i></a>
											<a href="#"><i class="icofont icofont-heart"></i></a>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-4 col-sm-6 col-xs-12">
								<div class="box">
									<div class="image">
										<img src="assets/images/our-menu/02.jpg" alt="image" title="image" class="img-responsive" />
									</div>
									<div class="caption">
										<h4>Food Title Here</h4>
										<p class="des">Cursus / Dictum / Risus</p>
										<div class="price">$35.00</div>
										<div class="icon text-right">
											<a href="#"><i class="icofont icofont-cart-alt"></i></a>
											<a href="#"><i class="icofont icofont-heart"></i></a>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-4 col-sm-6 col-xs-12">
								<div class="box">
									<div class="image">
										<img src="assets/images/our-menu/01.jpg" alt="image" title="image" class="img-responsive" />
									</div>
									<div class="caption">
										<h4>Food Title Here</h4>
										<p class="des">Cursus / Dictum / Risus</p>
										<div class="price">$35.00</div>
										<div class="icon text-right">
											<a href="#"><i class="icofont icofont-cart-alt"></i></a>
											<a href="#"><i class="icofont icofont-heart"></i></a>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-4 col-sm-6 col-xs-12">
								<div class="box">
									<div class="image">
										<img src="assets/images/our-menu/04.jpg" alt="image" title="image" class="img-responsive" />
									</div>
									<div class="caption">
										<h4>Food Title Here</h4>
										<p class="des">Cursus / Dictum / Risus</p>
										<div class="price">$35.00</div>
										<div class="icon text-right">
											<a href="#"><i class="icofont icofont-cart-alt"></i></a>
											<a href="#"><i class="icofont icofont-heart"></i></a>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-4 col-sm-6 col-xs-12">
								<div class="box">
									<div class="image">
										<img src="assets/images/our-menu/05.jpg" alt="image" title="image" class="img-responsive" />
									</div>
									<div class="caption">
										<h4>Food Title Here</h4>
										<p class="des">Cursus / Dictum / Risus</p>
										<div class="price">$35.00</div>
										<div class="icon text-right">
											<a href="#"><i class="icofont icofont-cart-alt"></i></a>
											<a href="#"><i class="icofont icofont-heart"></i></a>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-4 col-sm-6 col-xs-12">
								<div class="box">
									<div class="image">
										<img src="assets/images/our-menu/08.jpg" alt="image" title="image" class="img-responsive" />
									</div>
									<div class="caption">
										<h4>Food Title Here</h4>
										<p class="des">Cursus / Dictum / Risus</p>
										<div class="price">$35.00</div>
										<div class="icon text-right">
											<a href="#"><i class="icofont icofont-cart-alt"></i></a>
											<a href="#"><i class="icofont icofont-heart"></i></a>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-4 col-sm-6 col-xs-12">
								<div class="box">
									<div class="image">
										<img src="assets/images/our-menu/09.jpg" alt="image" title="image" class="img-responsive" />
									</div>
									<div class="caption">
										<h4>Food Title Here</h4>
										<p class="des">Cursus / Dictum / Risus</p>
										<div class="price">$35.00</div>
										<div class="icon text-right">
											<a href="#"><i class="icofont icofont-cart-alt"></i></a>
											<a href="#"><i class="icofont icofont-heart"></i></a>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-4 col-sm-6 col-xs-12">
								<div class="box">
									<div class="image">
										<img src="assets/images/our-menu/03.jpg" alt="image" title="image" class="img-responsive" />
									</div>
									<div class="caption">
										<h4>Food Title Here</h4>
										<p class="des">Cursus / Dictum / Risus</p>
										<div class="price">$35.00</div>
										<div class="icon text-right">
											<a href="#"><i class="icofont icofont-cart-alt"></i></a>
											<a href="#"><i class="icofont icofont-heart"></i></a>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-4 col-sm-6 col-xs-12">
								<div class="box">
									<div class="image">
										<img src="assets/images/our-menu/06.jpg" alt="image" title="image" class="img-responsive" />
									</div>
									<div class="caption">
										<h4>Food Title Here</h4>
										<p class="des">Cursus / Dictum / Risus</p>
										<div class="price">$35.00</div>
										<div class="icon text-right">
											<a href="#"><i class="icofont icofont-cart-alt"></i></a>
											<a href="#"><i class="icofont icofont-heart"></i></a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="text-center">
					<button type="button" class="btn-primary" onclick="location.href='templates/our_menu.html'">view more <i class="icofont icofont-curved-double-right"></i></button>
				</div>	
			</div>
		</div>
	</div>
</div>
<!-- menu end here -->



<!-- dishes start here -->
<div class="dishes">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 commontop text-center">
				<h4>our popular dishes</h4>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam efficitur placerat nulla, in suscipit erat sodales id. Nullam ultricies eu turpis at accumsan. Mauris a sodales mi, eget lobortis nulla.</p>
				<hr>
			</div>
		
	<div class="dish owl-carousel">
		<div class="item">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<div class="box">
					<a href="templates/shop.html"><img src="assets/images/dishes/01.jpg" alt="image" title="image" class="img-responsive" /></a>
					<div class="caption">
						<h4>Dish Name Here</h4>
						<p>$50</p>
					</div>
				</div>
			</div>
		</div>
		<div class="item">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<div class="box">
					<a href="templates/shop.html"><img src="assets/images/dishes/02.jpg" alt="image" title="image" class="img-responsive" /></a>
					<div class="caption">
						<h4>Dish Name Here</h4>
						<p>$50</p>
					</div>
				</div>
			</div>
		</div>
		<div class="item">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<div class="box">
					<a href="templates/shop.html"><img src="assets/images/dishes/03.jpg" alt="image" title="image" class="img-responsive" /></a>
					<div class="caption">
						<h4>Dish Name Here</h4>
						<p>$50</p>
					</div>
				</div>
			</div>
		</div>
		<div class="item">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<div class="box">
					<a href="templates/shop.html"><img src="assets/images/dishes/04.jpg" alt="image" title="image" class="img-responsive" /></a>
					<div class="caption">
						<h4>Dish Name Here</h4>
						<p>$50</p>
					</div>
				</div>
			</div>
		</div>
		<div class="item">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<div class="box">
					<a href="templates/shop.html"><img src="assets/images/dishes/05.jpg" alt="image" title="image" class="img-responsive" /></a>
					<div class="caption">
						<h4>Dish Name Here</h4>
						<p>$50</p>
					</div>
				</div>
			</div>
		</div>
		<div class="item">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<div class="box">
					<a href="templates/shop.html"><img src="assets/images/dishes/01.jpg" alt="image" title="image" class="img-responsive" /></a>
					<div class="caption">
						<h4>Dish Name Here</h4>
						<p>$50</p>
					</div>
				</div>
			</div>
		</div>
		<div class="item">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<div class="box">
					<a href="templates/shop.html"><img src="assets/images/dishes/02.jpg" alt="image" title="image" class="img-responsive" /></a>
					<div class="caption">
						<h4>Dish Name Here</h4>
						<p>$50</p>
					</div>
				</div>
			</div>
		</div>
		<div class="item">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<div class="box">
					<a href="templates/shop.html"><img src="assets/images/dishes/03.jpg" alt="image" title="image" class="img-responsive" /></a>
					<div class="caption">
						<h4>Dish Name Here</h4>
						<p>$50</p>
					</div>
				</div>
			</div>
		</div>
		<div class="item">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<div class="box">
					<a href="templates/shop.html"><img src="assets/images/dishes/04.jpg" alt="image" title="image" class="img-responsive" /></a>
					<div class="caption">
						<h4>Dish Name Here</h4>
						<p>$50</p>
					</div>
				</div>
			</div>
		</div>
		<div class="item">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<div class="box">
					<a href="templates/shop.html"><img src="assets/images/dishes/05.jpg" alt="image" title="image" class="img-responsive" /></a>
					<div class="caption">
						<h4>Dish Name Here</h4>
						<p>$50</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	</div>
	</div>
</div>
<!-- dishes end here -->



<!-- reservation start here -->
<div class="reservation">
	<div class="container">
		<div class="row ">
			<div class="col-sm-12 commontop text-center">
				<h4>reservation</h4>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam efficitur placerat nulla, in suscipit erat sodales id. Nullam ultricies eu turpis at accumsan. Mauris a sodales mi, eget lobortis nulla.</p>
				<hr>
			</div>
			<div class="col-sm-12 col-xs-12">
				<form method="post" enctype="multipart/form-data" class="row">
					<div class="form-group">
						<div class="col-sm-4">
							<i class="icofont icofont-ui-user"></i><input name="name" placeholder="name" placeholder="name" id="input-name" class="form-control" type="text">
						</div>
						<div class="col-sm-4">
							<i class="icofont icofont-ui-message"></i><input name="email" placeholder="email" placeholder="email" id="input-email" class="form-control" type="text">
						</div>
						<div class="col-sm-4">
							<i class="icofont icofont-phone"></i><input name="mobile" placeholder="mobile number" placeholder="" id="input-mobile" class="form-control" type="text">
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-4">
							<i class="icofont icofont-ui-calendar"></i><input name="date" placeholder="date" placeholder="date" id="input-date" class="form-control" type="text">
						</div> 
						<div class="col-sm-4">
							<i class="icofont icofont-clock-time"></i><input name="time" placeholder="time" placeholder="time" id="input-time" class="form-control" type="text">
						</div>
						<div class="col-sm-4">
							<i class="fa fa-key"></i>
							<select class="selectpicker form-control bs-select-hidden">
								<option selected="" value="0">number of persons</option>
								<option value="1">1</option>
								<option value="2">2</option>
								<option value="2">3</option>
								<option value="2">4</option>
								<option value="2">5</option>
							</select>
						</div>
					</div>
				</form>
				<div class="text-center">
					<button type="button" class="btn-primary" onclick="location.href='templates/reservation.html'">book now</button>
				</div>	
			</div>
		</div>
	</div>
</div>
<!-- reservation end here -->



<!-- gallery start here -->
<div class="gallery">
	<div class="container">
		<div class="row ">
			<div class="col-sm-12 commontop text-center">
				<h4>our gallery</h4>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam efficitur placerat nulla, in suscipit erat sodales id. Nullam ultricies eu turpis at accumsan. Mauris a sodales mi, eget lobortis nulla.</p>
				<hr>
			</div>
			<div class="col-sm-4 galery">
				<div class="product-thumb">
					<div class="image">
						<a href="#"><img src="assets/images/gallery/01.jpg" alt="image" title="image" class="img-responsive" /></a>
						<div class="hoverbox">
							<div class="show">
								<i class="icofont icofont-plus-circle"></i>
							</div>	
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-4 galery">
				<div class="product-thumb">
					<div class="image">
						<a href="#"><img src="assets/images/gallery/02.jpg" alt="image" title="image" class="img-responsive" /></a>
						<div class="hoverbox">
							<div class="show">
								<i class="icofont icofont-plus-circle"></i>
							</div>	
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-4 galery">
				<div class="product-thumb">
					<div class="image">
						<a href="#"><img src="assets/images/gallery/03.jpg" alt="image" title="image" class="img-responsive" /></a>
						<div class="hoverbox">
							<div class="show">
								<i class="icofont icofont-plus-circle"></i>
							</div>	
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-4 galery">
				<div class="product-thumb">
					<div class="image">
						<a href="#"><img src="assets/images/gallery/04.jpg" alt="image" title="image" class="img-responsive" /></a>
						<div class="hoverbox">
							<div class="show">
								<i class="icofont icofont-plus-circle"></i>
							</div>	
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-4 galery">
				<div class="product-thumb">
					<div class="image">
						<a href="#"><img src="assets/images/gallery/05.jpg" alt="image" title="image" class="img-responsive" /></a>
						<div class="hoverbox">
							<div class="show">
								<i class="icofont icofont-plus-circle"></i>
							</div>	
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-4 galery">
				<div class="product-thumb">
					<div class="image">
						<a href="#"><img src="assets/images/gallery/06.jpg" alt="image" title="image" class="img-responsive" /></a>
						<div class="hoverbox">
							<div class="show">
								<i class="icofont icofont-plus-circle"></i>
							</div>	
						</div>
					</div>
				</div>
			</div>
			<div class="text-center">
				<button type="button" class="btn-primary" onclick="location.href='templates/our_gallery.html'">view more <i class="icofont icofont-curved-double-right"></i></button>
			</div>
			<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content"> 
						<button type="button" class="close" data-dismiss="modal">&times;</button>	
						<div class="modal-body">                
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- gallery end here -->



<!-- blog start here -->
<div class="blog bloggs">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 commontop text-center">
				<h4>our blog</h4>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam efficitur placerat nulla, in suscipit erat sodales id. Nullam ultricies eu turpis at accumsan. Mauris a sodales mi, eget lobortis nulla.</p>
				<hr>
			</div>
			<div class="col-sm-4">
				<div class="box">
					<a href="#"><img src="assets/images/b1.jpg" class="img-responsive" alt="image" title="image" /></a>
					<div class="caption">
						<h4>Blog Title Here</h4>
						<p class="text">May 15, 2017 / By admin / 3 Comments</p>
						<p class="des">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam efficitur placerat nulla, in suscipit erat sodales id. Nullam ultricies eu turpis at accumsan...</p>
						<button type="button" class="btn-primary" onclick="location.href='templates/blog_detail.html'">read more <i class="icofont icofont-curved-double-right"></i></button>
					</div>
				</div>	
			</div>
			<div class="col-sm-4">
				<div class="box">
					<a href="#"><img src="assets/images/b2.jpg" class="img-responsive" alt="image" title="image" /></a>
					<div class="caption">
						<h4>Blog Title Here</h4>
						<p class="text">May 15, 2017 / By admin / 3 Comments</p>
						<p class="des">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam efficitur placerat nulla, in suscipit erat sodales id. Nullam ultricies eu turpis at accumsan...</p>
						<button type="button" class="btn-primary" onclick="location.href='templates/blog_detail.html'">read more <i class="icofont icofont-curved-double-right"></i></button>
					</div>
				</div>	
			</div>
			<div class="col-sm-4">
				<div class="box">
					<a href="#"><img src="assets/images/b3.jpg" class="img-responsive" alt="image" title="image" /></a>
					<div class="caption">
						<h4>Blog Title Here</h4>
						<p class="text">May 15, 2017 / By admin / 3 Comments</p>
						<p class="des">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam efficitur placerat nulla, in suscipit erat sodales id. Nullam ultricies eu turpis at accumsan...</p>
						<button type="button" class="btn-primary" onclick="location.href='templates/blog_detail.html'">read more <i class="icofont icofont-curved-double-right"></i></button>
					</div>
				</div>	
			</div>
		</div>
	</div>
</div>
<!-- blog end here -->
<script src="assets/js/bootstrap.min.js" type="text/javascript"></script>
<!--bootstrap select-->
<script src="assets/js/bootstrap-select.js" type="text/javascript"></script>
<!--internal js-->
<script src="assets/js/internal.js" type="text/javascript"></script>
<!-- owlcarousel js -->
<script src="assets/js/owl-carousel/owl.carousel.min.js" type="text/javascript"></script>
<!--Gallery js code-->
<script src="assets/js/photo-gallery.js" type="text/javascript"></script>