<!-- bread-crumb start here -->
<div class="bread-crumb">
	<img src="../assets/images/banner_top.jpg" class="img-responsive" alt="banner-top" title="banner-top">
	<div class="container">
		<div class="matter">
			<h2>our gallery</h2>
			<ul class="list-inline">
				<li><a href="index.html">HOME</a></li>
				<li><a href="our_gallery.html">our gallery</a></li>
			</ul>
		</div>
	</div>
</div>
<!-- bread-crumb end here -->

<!-- gallery start here -->
<div class="gallery mar-b">
	<div class="container">
		<div class="row ">
			<div class="col-sm-12 commontop text-center">
				<h4>our gallery</h4>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam efficitur placerat nulla, in suscipit erat sodales id. Nullam ultricies eu turpis at accumsan. Mauris a sodales mi, eget lobortis nulla.</p>
				<hr>
			</div>
			<div class="col-sm-4 galery">
				<div class="product-thumb">
					<div class="image">
						<a href="#"><img src="../assets/images/gallery/01.jpg" alt="image" title="image" class="img-responsive" /></a>
						<div class="hoverbox">
							<div class="show">
								<i class="icofont icofont-plus-circle"></i>
							</div>	
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-4 galery">
				<div class="product-thumb">
					<div class="image">
						<a href="#"><img src="../assets/images/gallery/02.jpg" alt="image" title="image" class="img-responsive" /></a>
						<div class="hoverbox">
							<div class="show">
								<i class="icofont icofont-plus-circle"></i>
							</div>	
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-4 galery">
				<div class="product-thumb">
					<div class="image">
						<a href="#"><img src="../assets/images/gallery/03.jpg" alt="image" title="image" class="img-responsive" /></a>
						<div class="hoverbox">
							<div class="show">
								<i class="icofont icofont-plus-circle"></i>
							</div>	
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-4 galery">
				<div class="product-thumb">
					<div class="image">
						<a href="#"><img src="../assets/images/gallery/04.jpg" alt="image" title="image" class="img-responsive" /></a>
						<div class="hoverbox">
							<div class="show">
								<i class="icofont icofont-plus-circle"></i>
							</div>	
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-4 galery">
				<div class="product-thumb">
					<div class="image">
						<a href="#"><img src="../assets/images/gallery/05.jpg" alt="image" title="image" class="img-responsive" /></a>
						<div class="hoverbox">
							<div class="show">
								<i class="icofont icofont-plus-circle"></i>
							</div>	
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-4 galery">
				<div class="product-thumb">
					<div class="image">
						<a href="#"><img src="../assets/images/gallery/06.jpg" alt="image" title="image" class="img-responsive" /></a>
						<div class="hoverbox">
							<div class="show">
								<i class="icofont icofont-plus-circle"></i>
							</div>	
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-4 galery">
				<div class="product-thumb">
					<div class="image">
						<a href="#"><img src="../assets/images/gallery/07.jpg" alt="image" title="image" class="img-responsive" /></a>
						<div class="hoverbox">
							<div class="show">
								<i class="icofont icofont-plus-circle"></i>
							</div>	
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-4 galery">
				<div class="product-thumb">
					<div class="image">
						<a href="#"><img src="../assets/images/gallery/08.jpg" alt="image" title="image" class="img-responsive" /></a>
						<div class="hoverbox">
							<div class="show">
								<i class="icofont icofont-plus-circle"></i>
							</div>	
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-4 galery">
				<div class="product-thumb">
					<div class="image">
						<a href="#"><img src="../assets/images/gallery/09.jpg" alt="image" title="image" class="img-responsive" /></a>
						<div class="hoverbox">
							<div class="show">
								<i class="icofont icofont-plus-circle"></i>
							</div>	
						</div>
					</div>
				</div>
			</div>
			<div class="text-center">
				<button type="button" class="btn-primary">view more <i class="icofont icofont-curved-double-right"></i></button>
			</div>
			<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content"> 
						<button type="button" class="close" data-dismiss="modal">&times;</button>	
						<div class="modal-body">                
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- gallery end here -->