<!-- bread-crumb start here -->
<div class="bread-crumb">
	<img src="../assets/images/banner_top.jpg" class="img-responsive" alt="banner-top" title="banner-top">
	<div class="container">
		<div class="matter">
			<h2>reservation</h2>
			<ul class="list-inline">
				<li><a href="index.html">HOME</a></li>
				<li><a href="reservation.html">reservation</a></li>
			</ul>
		</div>
	</div>
</div>
<!-- bread-crumb end here -->


<!-- reserved start here -->
<div class="reserved mar-b">
	<div class="container">
		<div class="row ">
			<div class="col-sm-12 commontop text-center">
				<h4>reservation</h4>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam efficitur placerat nulla, in suscipit erat sodales id. Nullam ultricies eu turpis at accumsan. Mauris a sodales mi, eget lobortis nulla.</p>
				<hr>
			</div>
			<div class="col-sm-6 col-xs-12">
				<img src="../assets/images/reservation.jpg" class="img-responsive" alt="image" title="image" />
			</div>
			<div class="col-sm-6 col-xs-12">
				<!-- Reservation form start here -->
				<form method="post" enctype="multipart/form-data">
					<div class="form-group">
						<i class="icofont icofont-ui-user"></i><input name="name" placeholder="name" id="input-name" class="form-control" type="text">
					</div>
					<div class="form-group">
						<i class="icofont icofont-ui-message"></i><input name="email" placeholder="email" id="input-email" class="form-control" type="text">
					</div>
					<div class="form-group">
							<i class="icofont icofont-phone"></i><input name="mobile" placeholder="mobile number" id="input-mobile" class="form-control" type="text">
					</div>
					<div class="form-group">
						<i class="icofont icofont-ui-calendar"></i><input name="date" placeholder="date" id="input-date" class="form-control" type="text">
					</div>
					<div class="form-group">
						<i class="icofont icofont-clock-time"></i><input name="time" placeholder="time" id="input-time" class="form-control" type="text">
					</div>
					<div class="form-group">
						<i class="fa fa-key"></i>
						<select class="selectpicker form-control bs-select-hidden">
							<option selected="" value="0">number of persons</option>
							<option value="1">1</option>
							<option value="2">2</option>
							<option value="2">3</option>
							<option value="2">4</option>
							<option value="2">5</option>
						</select>
					</div>
					<div class="form-group">
						<i class="icofont icofont-ui-message"></i><textarea class="form-control" id="message" name="message" placeholder="MESSAGE" ></textarea>
					</div>
				</form>
				<!-- Reservation form end here -->
				<div class="text-left">
					<button type="submit" class="btn-primary">book now</button>
				</div>	
			</div>
		</div>
	</div>
</div>
<!-- reserved end here -->