<!-- banner start here -->
<div class="banner">
	<img src="../assets/images/shop/back.jpg" class="img-responsive bg" alt="banner-top" title="banner-top">
	<div class="container">
		<div class="matter">
			<div class="crumb">
				<h2>Search</h2>
				<ul class="list-inline">
					<li><a href="index.html">HOME</a></li>
					<li><a href="search.html">Search</a></li>
				</ul>
			</div>
			<div class="col-sm-6 order col-sm-offset-3">
				<!-- search form start here -->
				<form class="form-horizontal search-icon" method="post">
					<fieldset>
						<div class="form-group">
							<input name="s" value="" placeholder="Search keyword" ng-model="filter" class="form-control" type="text">
						</div>
						<button type="submit" value="submit" class="btn"><i class="icofont icofont-search"></i>search</button>
					</fieldset>
				</form>
				<!-- search form end here -->
				<ul class="list-inline text-center">
					<li>
						<i class="icofont icofont-fast-food"></i>
						<p>Select Food</p>
					</li>
					<li>
						<i class="icofont icofont-food-basket"></i>
						<p>Order Food</p>
					</li>
					<li>
						<i class="icofont icofont-fast-delivery"></i>
						<p>Delivery or Take Out</p>
					</li>
					
				</ul>
				<img src="../assets/images/shop/lines.png" alt="line" title="line" class="img-responsive">
			</div>
		</div>
	</div>
</div>
<!-- banner end here -->

<!-- main container start here -->
<div class="shop">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<div class="row sort">
					<div class="col-sm-3">
						<div class="form-group input-group input-group-sm">
							<label class="input-group-addon" for="input-sort">Show :    </label>
							<select id="input-sort" class="form-control selectpicker bs-select-hidden">
								<option value="" selected="selected">Default</option>
								<option value="">1</option>
								<option value="">5</option>
								<option value="">15</option>
								<option value="">20</option>
								<option value="">25</option>
							</select>
						</div>
					</div>
				</div>
				
				<div class="row">
					<!-- ng-repeat on products with filter 'filter' start here -->
					<div class="col-md-3 col-sm-4 col-xs-12" ng-repeat="product in products | filter : filter track by $index">
						<div class="product-thumb">
							<div class="image">
								<a href="/shopping-cart/{{$index + 1}}"><img ng-src="{{product.name}}" alt="image" title="image" class="img-responsive" /></a>
								<div class="hoverbox">
									<button type="button" class="btn-primary" ng-click="location.href='/shopping-card/{{$index + 1}}'">order now</button>
								</div>
							</div>
							<div class="caption">
								<h4>{{product.name}}</h4>
								<div class="rating">
									<i class="icofont icofont-star"></i>
									<i class="icofont icofont-star"></i>
									<i class="icofont icofont-star"></i>
									<i class="icofont icofont-star"></i>
									<i class="icofont icofont-star"></i>
								</div>
								<div class="price">${{product.avg_price}}</div>
								<p>{{product.description}}</p>
								<button type="button" class="btn-primary" ng-click="location.href='/shopping-cart/{{$index + 1}}'">order now</button>	
							</div>
						</div>
					</div>
					<!-- ng-repeat on products with filter 'filter' end here -->
				</div>
				
				<div class="text-center">
					<ul class="list-inline pagination">
						<li>
							<a href="#" aria-label="Previous"><i class="icofont icofont-long-arrow-left"></i>Prev</a>
						</li>
						<li class="active">
							<a href="#">01</a> 
						</li>
						<li>
							<a href="#">02</a> 
						</li>
						<li>
							<a href="#">03</a>
						</li>
						<li>
							<a href="#">04</a>
						</li>
						<li>
							<a href="#">...</a> 
						</li>
						<li>
							<a href="#">18</a> 
						</li>
						<li>
							<a href="#" aria-label="Next">Next<i class="icofont icofont-long-arrow-right"></i></a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- main container end here -->