<!-- banner start here -->
<div class="banner">
	<img src="../assets/images/shop/back.jpg" class="img-responsive bg" alt="banner-top" title="banner-top">
	<div class="container">
		<div class="matter">
			<div class="crumb">
				<h2>Our Shop</h2>
				<ul class="list-inline">
					<li><a href="index.html">HOME</a></li>
					<li><a href="shop.html">Our Shop</a></li>
				</ul>
			</div>
			<div class="col-sm-6 order col-sm-offset-3">
				<form class="form-horizontal search-icon" method="post">
					<fieldset>
						<div class="form-group">
							<input name="s" value="" placeholder="Search keyword" class="form-control" type="text">
						</div>
						<button type="submit" value="submit" class="btn"><i class="icofont icofont-search"></i>search</button>
					</fieldset>
				</form>
				<ul class="list-inline text-center">
					<li>
						<i class="icofont icofont-fast-food"></i>
						<p>Select Food</p>
					</li>
					<li>
						<i class="icofont icofont-food-basket"></i>
						<p>Order Food</p>
					</li>
					<li>
						<i class="icofont icofont-fast-delivery"></i>
						<p>Delivery or Take Out</p>
					</li>
					
				</ul>
				<img src="../assets/images/shop/lines.png" alt="line" title="line" class="img-responsive">
			</div>
		</div>
	</div>
</div>
<!-- banner end here -->

<!-- shop start here -->
<div class="shop">
	<div class="container">
		<div class="row">
			<div class="col-sm-3">
				<div class="left">
					<h4>SEARCH FILTERS</h4>
					<div class="search">
						<!-- search form start here -->
						<form class="form-horizontal" method="post">
							<fieldset>
								<div class="form-group">
									<input name="s" value="" ng-model="filter" class="form-control" placeholder="Search Your Fav Food" type="text">
									<button type="submit" value="submit" class="btn"><i class="icofont icofont-search"></i></button>
								</div>
							</fieldset>
						</form>
					</div>
					<div class="food">
						<h3>Food For</h3>
						<ul class="list-inline">
							<li>
								<label class="check">
									<input type="radio" ng-model="order_type" value="Delivery" name="payment" class="checkclass"/>
									Delivery
								</label>
							</li>
							<li>
								<label class="check">
									<input type="radio" ng-model="order_type" value="Pickup" name="payment" class="checkclass"/>
									Pickup
								</label>
							</li>
						</ul>
					</div>
					<div class="rating">
						<h3>rating</h3>
						<ul class="list-unstyled">
							<li>
								<label class="check">
									<input type="radio" name="payment" class="checkclass"/>
									<i class="icofont icofont-star" style="color:#FFA41F"></i>
									<i class="icofont icofont-star" style="color:#FFA41F"></i>
									<i class="icofont icofont-star" style="color:#FFA41F"></i>
									<i class="icofont icofont-star" style="color:#FFA41F"></i>
									<i class="icofont icofont-star" style="color:#FFA41F"></i>
								</label>
							</li>
							<li>
								<label class="check">
									<input type="radio" name="payment" class="checkclass"/>
									<i class="icofont icofont-star" style="color:#FFA41F"></i>
									<i class="icofont icofont-star" style="color:#FFA41F"></i>
									<i class="icofont icofont-star" style="color:#FFA41F"></i>
									<i class="icofont icofont-star" style="color:#FFA41F"></i>
									<i class="icofont icofont-star" style="color:#b2b2b2"></i>
								</label>
							</li>
							<li>
								<label class="check">
									<input type="radio" name="payment" class="checkclass"/>
									<i class="icofont icofont-star" style="color:#FFA41F"></i>
									<i class="icofont icofont-star" style="color:#FFA41F"></i>
									<i class="icofont icofont-star" style="color:#FFA41F"></i>
									<i class="icofont icofont-star" style="color:#b2b2b2"></i>
									<i class="icofont icofont-star" style="color:#b2b2b2"></i>
								</label>
							</li>
							<li>
								<label class="check">
									<input type="radio" name="payment" class="checkclass"/>
									<i class="icofont icofont-star" style="color:#FFA41F"></i>
									<i class="icofont icofont-star" style="color:#FFA41F"></i>
									<i class="icofont icofont-star" style="color:#b2b2b2"></i>
									<i class="icofont icofont-star" style="color:#b2b2b2"></i>
									<i class="icofont icofont-star" style="color:#b2b2b2"></i>
								</label>
							</li>
							<li>
								<label class="check">
									<input type="radio" name="payment" class="checkclass"/>
									<i class="icofont icofont-star" style="color:#FFA41F"></i>
									<i class="icofont icofont-star" style="color:#b2b2b2"></i>
									<i class="icofont icofont-star" style="color:#b2b2b2"></i>
									<i class="icofont icofont-star" style="color:#b2b2b2"></i>
									<i class="icofont icofont-star" style="color:#b2b2b2"></i>
								</label>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<!-- search form end here -->
			<div class="col-md-9 col-sm-9 col-xs-12">
				<div class="row shopdetail">
					<div class="col-sm-5 col-xs-12">
						<div class="image">
							<img src="../assets/images/bigimg.jpg" title="thumb image" alt="thumb image" class="img-responsive" />
						</div>
					</div>
					
					<div class="col-sm-7 col-xs-12">
						<h2>Product Title Here</h2>
						<div class="rating">
							<i class="icofont icofont-star"></i>
							<i class="icofont icofont-star"></i>
							<i class="icofont icofont-star"></i>
							<i class="icofont icofont-star"></i>
							<i class="icofont icofont-star"></i>
						</div>
						<div class="price">$45.00</div>
						<p class="shortdes">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed doeiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enimad minim veniam, quis nostrud exercitation ullamco laboris nisi utaliquip ex ea commodo consequat.</p>
						<div class="food">
							<h3>Food For</h3>
							<ul class="list-inline">
								<li>
									<label class="check">
										<input type="radio" name="payment" class="checkclass"/>
										Delivery
									</label>
								</li>
								<li>
									<label class="check">
										<input type="radio" name="payment" class="checkclass"/>
										Pickup
									</label>
								</li>
							</ul>
						</div>
						<div class="common">
							<p class="qtypara pull-left">
								<input type="text" name="quantity" value="1" size="2" id="input-quantity" class="form-control qty" />
							</p>
							<div class="buttons">
								<button type="button" class="btn-primary">order now</button>
								<button type="button" class="btn-primary">add to cart</button>
							</div>
						</div>
						
					</div>
					
					<div class="col-sm-12 col-xs-12">
						<ul class="nav nav-tabs">
							<li class="active"><a href="#tab-description" data-toggle="tab">description</a></li>
							<li><a href="#tab-review" data-toggle="tab">Reviews (3)</a></li>
							<li><a href="#tab-add" data-toggle="tab">add Review</a></li>
						</ul>
						<div class="tab-content">
							<div class="tab-pane active" id="tab-description">
								<p class="des">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed doeiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enimad minim veniam, quis nostrud exercitation ullamco laboris nisi utaliquip ex ea commodo consequat. Duis aute irure dolor inreprehenderit in voluptate velit esse cillum d. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed doeiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed doeiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enimad minim veniam, quis nostrud exercitation ullamco laboris nisi utaliquip ex ea commodo consequat. Duis aute irure dolor inreprehenderit in voluptate velit esse cillum d. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed doeiusmod tempor incididunt ut labore et dolore magna aliqua.
								<br>
								<br>
								Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed doeiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enimad minim veniam, quis nostrud exercitation ullamco laboris nisi utaliquip ex ea commodo consequat. Duis aute irure dolor inreprehenderit in voluptate velit esse cillum d. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed doeiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed doeiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
							</div>
							<div class="tab-pane" id="tab-review">
								<div class="box">
									<img src="../assets/images/review1.jpg" alt="image" title="image" class="img-responsive"/>
									<div class="detail">
										<h2>John Doe</h2>
										<span>2 days ago</span>
										<div class="rating">
											<i class="icofont icofont-star"></i>
											<i class="icofont icofont-star"></i>
											<i class="icofont icofont-star"></i>
											<i class="icofont icofont-star"></i>
											<i class="icofont icofont-star"></i>
										</div>
										<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed doeiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
									</div>
								</div>
								<div class="box">
									<img src="../assets/images/review2.jpg" alt="image" title="image" class="img-responsive"/>
									<div class="detail">
										<h2>John Doe</h2>
										<span>2 days ago</span>
										<div class="rating">
											<i class="icofont icofont-star"></i>
											<i class="icofont icofont-star"></i>
											<i class="icofont icofont-star"></i>
											<i class="icofont icofont-star"></i>
											<i class="icofont icofont-star"></i>
										</div>
										<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed doeiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
									</div>
								</div>
								<div class="box">
									<img src="../assets/images/review1.jpg" alt="image" title="image" class="img-responsive"/>
									<div class="detail">
										<h2>John Doe</h2>
										<span>2 days ago</span>
										<div class="rating">
											<i class="icofont icofont-star"></i>
											<i class="icofont icofont-star"></i>
											<i class="icofont icofont-star"></i>
											<i class="icofont icofont-star"></i>
											<i class="icofont icofont-star"></i>
										</div>
										<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed doeiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
									</div>
								</div>
							</div>
							<div class="tab-pane" id="tab-add">
								<form class="form-horizontal" id="form-review">
									<div class="form-group required">
										<div class="col-md-6 col-sm-12">
											<label class="control-label" for="input-name">Name*</label>
											<input type="text" name="name" value="" id="input-name" class="form-control" />
										</div>
										<div class="col-md-6 col-sm-12">
											<label class="control-label" for="input-email">Email*</label>
											<input type="text" name="email" value="" id="input-email" class="form-control" />
										</div>
									</div>
									<div class="form-group required">
										<div class="col-sm-12">
											<label class="control-label" for="input-review">Your Reviews*</label>
											<textarea name="text" rows="5" id="input-review" class="form-control"></textarea>
										</div>
									</div>
									<div class="rating">
										<p>Your Rating*</p>
										<i class="icofont icofont-star"></i>
										<i class="icofont icofont-star"></i>
										<i class="icofont icofont-star"></i>
										<i class="icofont icofont-star"></i>
										<i class="icofont icofont-star"></i>
									</div>
									<div class="buttons clearfix">
										<button type="submit" id="button-review" class="btn btn-primary">Submit</button>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
				
				<div class="row">
					<div class="col-sm-12 commontop text-center">
						<h4>our shop</h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam efficitur placerat nulla, in suscipit erat sodales id. Nullam ultricies eu turpis at accumsan. Mauris a sodales mi, eget lobortis nulla.</p>
						<hr>
					</div>
					<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
						<div class="product-thumb">
							<div class="image">
								<a href="shopdetail.html"><img src="../assets/images/shop/01.jpg" alt="image" title="image" class="img-responsive" /></a>
								<div class="hoverbox">
									<button type="button" class="btn-primary" onclick="location.href='shoppingcart.html'">order now</button>
								</div>
							</div>
							<div class="caption">
								<h4>Product Title Here</h4>
								<div class="rating">
									<i class="icofont icofont-star"></i>
									<i class="icofont icofont-star"></i>
									<i class="icofont icofont-star"></i>
									<i class="icofont icofont-star"></i>
									<i class="icofont icofont-star"></i>
								</div>
								<div class="price">$20.00</div>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas non eleifend erat, vitae aliquam metus. Donec orci tellus, rhoncus eget ipsum tempus, dignissim rutrum enim. Integer interdum sapien nec tempus luctus.</p>
								<button type="button" class="btn-primary" onclick="location.href='shoppingcart.html'">order now</button>	
							</div>
						</div>
					</div>
									
					<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
						<div class="product-thumb">
							<div class="image">
								<a href="shopdetail.html"><img src="../assets/images/shop/02.jpg" alt="image" title="image" class="img-responsive" /></a>
								<div class="hoverbox">
									<button type="button" class="btn-primary" onclick="location.href='shoppingcart.html'">order now</button>
								</div>
							</div>
							<div class="caption">
								<h4>Product Title Here</h4>
								<div class="rating">
									<i class="icofont icofont-star"></i>
									<i class="icofont icofont-star"></i>
									<i class="icofont icofont-star"></i>
									<i class="icofont icofont-star"></i>
									<i class="icofont icofont-star"></i>
								</div>
								<div class="price">$20.00</div>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas non eleifend erat, vitae aliquam metus. Donec orci tellus, rhoncus eget ipsum tempus, dignissim rutrum enim. Integer interdum sapien nec tempus luctus.</p>
								<button type="button" class="btn-primary" onclick="location.href='shoppingcart.html'">order now</button>	
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
						<div class="product-thumb">
							<div class="image">
								<a href="shopdetail.html"><img src="../assets/images/shop/03.jpg" alt="image" title="image" class="img-responsive" /></a>
								<div class="hoverbox">
									<button type="button" class="btn-primary" onclick="location.href='shoppingcart.html'">order now</button>
								</div>
							</div>
							<div class="caption">
								<h4>Product Title Here</h4>
								<div class="rating">
									<i class="icofont icofont-star"></i>
									<i class="icofont icofont-star"></i>
									<i class="icofont icofont-star"></i>
									<i class="icofont icofont-star"></i>
									<i class="icofont icofont-star"></i>
								</div>
								<div class="price">$20.00</div>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas non eleifend erat, vitae aliquam metus. Donec orci tellus, rhoncus eget ipsum tempus, dignissim rutrum enim. Integer interdum sapien nec tempus luctus.</p>
								<button type="button" class="btn-primary" onclick="location.href='shoppingcart.html'">order now</button>	
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- shop end here -->