<!DOCTYPE html>
<html lang="en">
<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>Our Shop</title>
<!-- Bootstrap stylesheet -->
<link href="../assets/css/bootstrap/bootstrap.css" rel="stylesheet">

<!-- icofont -->
<link href="../assets/css/icofont/icofont.css" rel="stylesheet" type="text/css" />
<!-- crousel css -->
<link href="../assets/js/owl-carousel/owl.carousel.css" rel="stylesheet" type="text/css" />
<!--bootstrap select-->
<link href="../assets/css/bootstrap-select.css" rel="stylesheet" type="text/css" />
<!-- stylesheet -->
<link href="../assets/css/style.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<!-- header start here-->
<header>
	<!--top start here -->
	<div class="top">
		<div class="container">
			<div class="row">
				<div class="col-sm-12 col-xs-12">
					<ul class="list-inline pull-left icon">
						<li><a href="contact_us.html"><i class="icofont icofont-ui-message"></i> Email : info@restaurant.com</a></li>
						<li><a href="contact_us.html"><i class="icofont icofont-phone"></i> Phone : 123 456 7890</a></li>
						<li><a href="shoppingcart.html"><i class="icofont icofont-cart-alt"></i> Cart</a></li>
					</ul>
					<ul class="list-inline pull-right  icon">
						<li>
							<form method="post" enctype="multipart/form-data" id="form-language">
								<div class="btn-group">
									<button class="btn btn-link dropdown-toggle" data-toggle="dropdown">
										<i class="icofont icofont-globe"></i>Language : <span class="name"><span class="hidden-xs">English</span> <i class="icofont icofont-caret-down"></i></span>
									</button>
									<ul class="dropdown-menu">
										<li><a href="javascript:;">English</a></li>
									</ul>
								</div>
							</form>
						</li>
						<li>
							<ul class="list-inline social">
								<li><a href="https://www.facebook.com/" target="_blank"><i class="icofont icofont-social-facebook"></i></a></li>
								<li><a href="https://twitter.com/" target="_blank"><i class="icofont icofont-social-twitter"></i></a></li>
								<li><a href="https://plus.google.com/" target="_blank"><i class="icofont icofont-social-google-plus"></i></a></li>
								<li><a href="https://www.instagram.com/" target="_blank"><i class="icofont icofont-social-instagram"></i></a></li>
								<li><a href="https://in.pinterest.com/" target="_blank"><i class="icofont icofont-social-pinterest"></i></a></li>
								<li><a href="https://www.youtube.com/" target="_blank"><i class="icofont icofont-social-youtube-play"></i></a></li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<!--top end here -->
	<div class="container">
		<div class="row">
			<div class="col-md-3 col-sm-3 col-xs-12">
				<div id="logo">
					<a href="../index.html"><img class="img-responsive" src="../assets/images/logo.png" alt="logo" title="logo" /></a>
				</div>
			</div>
				
			<div class="col-md-7 col-sm-7 col-xs-12 paddleft">
				<!-- menu start here -->
				<div id="menu">	
					<nav class="navbar">
						<div class="navbar-header">
							<span class="menutext visible-xs">Menu</span>
							<button data-target=".navbar-ex1-collapse" data-toggle="collapse" class="btn btn-navbar navbar-toggle" type="button"><i class="icofont icofont-navigation-menu"></i></button>
						</div>
						<div class="collapse navbar-collapse navbar-ex1-collapse padd0">
							<ul class="nav navbar-nav text-right">
								<li><a href="../index.html">home</a></li>
								<li><a href="about_us.html">about us</a></li>
								<li><a href="our_menu.html">Our Menu</a></li>
								<li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">MORE <i class="icofont icofont-caret-down"></i></a>
									<div class="dropdown-menu repeating">
										<div class="dropdown-inner">
											<ul class="list-unstyled">
												<li><a href="our_blog.html">Blogs</a></li>
												<li><a href="testimonial.html">Testimonials</a></li>
												<li><a href="our_gallery.html">Gallery</a></li>
											</ul>
										</div>
									</div>
								</li>
								<li><a href="shop.html">Shops</a></li>
								<li><a href="search.html">Search</a></li>
								<li><a href="contact_us.html">contact us</a></li>
							</ul>
						</div>
					</nav>
				</div>
				<!-- menu end here -->
			</div>
			
			<div class="col-md-2 col-sm-2 col-xs-12 button-top paddleft">
				<button class="btn-primary" type="button" onclick="location.href='reservation.html'">book your table</button>
			</div>
		</div>
	</div>
</header>
<!-- header end here -->

<!-- banner start here -->
<div class="banner">
	<img src="../assets/images/shop/back.jpg" class="img-responsive bg" alt="banner-top" title="banner-top">
	<div class="container">
		<div class="matter">
			<div class="crumb">
				<h2>Our Shop</h2>
				<ul class="list-inline">
					<li><a href="index.html">HOME</a></li>
					<li><a href="shop.html">Our Shop</a></li>
				</ul>
			</div>
			<div class="col-sm-6 order col-sm-offset-3">
				<form class="form-horizontal search-icon" method="post">
					<fieldset>
						<div class="form-group">
							<input name="s" value="" placeholder="Search keyword" class="form-control" type="text">
						</div>
						<button type="submit" value="submit" class="btn"><i class="icofont icofont-search"></i>search</button>
					</fieldset>
				</form>
				<ul class="list-inline text-center">
					<li>
						<i class="icofont icofont-fast-food"></i>
						<p>Select Food</p>
					</li>
					<li>
						<i class="icofont icofont-food-basket"></i>
						<p>Order Food</p>
					</li>
					<li>
						<i class="icofont icofont-fast-delivery"></i>
						<p>Delivery or Take Out</p>
					</li>
					
				</ul>
				<img src="../assets/images/shop/lines.png" alt="line" title="line" class="img-responsive">
			</div>
		</div>
	</div>
</div>
<!-- banner end here -->

<!-- shop start here -->
<div class="shop">
	<div class="container">
		<div class="row">
			<div class="col-sm-3">
				<div class="left">
					<h4>SEARCH FILTERS</h4>
					<div class="search">
						<form class="form-horizontal" method="post">
							<fieldset>
								<div class="form-group">
									<input name="s" value="" class="form-control" placeholder="Search Your Fav Food" type="text">
									<button type="submit" value="submit" class="btn"><i class="icofont icofont-search"></i></button>
								</div>
								<ul class="list-unstyled">
									<li>
										<label class="check">
											<input type="radio" name="payment" class="checkclass"/>
											Sandwiches
										</label>
									</li>
									<li>
										<label class="check">
											<input type="radio" name="payment" class="checkclass"/>
											Fast Food
										</label>
									</li>
									<li>
										<label class="check">
											<input type="radio" name="payment" class="checkclass"/>
											Vegetarian
										</label>
									</li>
									<li>
										<label class="check">
											<input type="radio" name="payment" class="checkclass"/>
											Thai
										</label>
									</li>
									<li>
										<label class="check">
											<input type="radio" name="payment" class="checkclass"/>
											Non Veg
										</label>
									</li>
									<li>
										<label class="check">
											<input type="radio" name="payment" class="checkclass"/>
											Salads
										</label>
									</li>
								</ul>
							</fieldset>
						</form>
					</div>
					<div class="food">
						<h3>Food For</h3>
						<ul class="list-inline">
							<li>
								<label class="check">
									<input type="radio" name="payment" class="checkclass"/>
									Delivery
								</label>
							</li>
							<li>
								<label class="check">
									<input type="radio" name="payment" class="checkclass"/>
									Pickup
								</label>
							</li>
						</ul>
					</div>
					<div class="popular">
						<h3>popular tags <a href="#" class="pull-right"><i class="icofont icofont-plus"></i></a></h3>
						<ul class="list-inline">
							<li><a href="#">South Indian Food <i class="icofont icofont-close"></i></a></li>
							<li><a href="#">Fast Food <i class="icofont icofont-close"></i></a></li>
							<li><a href="#">Thai <i class="icofont icofont-close"></i></a></li>
						</ul>
					</div>
					<div class="price">
						<h3>price raNGE</h3>
						<div class="price-filter">
							<span class="min">$35</span>
							<a href="#" class="one slider-handle"></a>
							<div class="price-range"><div class="bg"></div></div>
							<p>$5 <span class="pull-right">$100</span></p>
						</div>
					</div>
					<div class="rating">
						<h3>rating</h3>
						<ul class="list-unstyled">
							<li>
								<label class="check">
									<input type="radio" name="payment" class="checkclass"/>
									<i class="icofont icofont-star"></i>
									<i class="icofont icofont-star"></i>
									<i class="icofont icofont-star"></i>
									<i class="icofont icofont-star"></i>
									<i class="icofont icofont-star"></i>
								</label>
							</li>
							<li>
								<label class="check">
									<input type="radio" name="payment" class="checkclass"/>
									<i class="icofont icofont-star"></i>
									<i class="icofont icofont-star"></i>
									<i class="icofont icofont-star"></i>
									<i class="icofont icofont-star"></i>
									<i class="icofont icofont-star"></i>
								</label>
							</li>
							<li>
								<label class="check">
									<input type="radio" name="payment" class="checkclass"/>
									<i class="icofont icofont-star"></i>
									<i class="icofont icofont-star"></i>
									<i class="icofont icofont-star"></i>
									<i class="icofont icofont-star"></i>
									<i class="icofont icofont-star"></i>
								</label>
							</li>
							<li>
								<label class="check">
									<input type="radio" name="payment" class="checkclass"/>
									<i class="icofont icofont-star"></i>
									<i class="icofont icofont-star"></i>
									<i class="icofont icofont-star"></i>
									<i class="icofont icofont-star"></i>
									<i class="icofont icofont-star"></i>
								</label>
							</li>
							<li>
								<label class="check">
									<input type="radio" name="payment" class="checkclass"/>
									<i class="icofont icofont-star"></i>
									<i class="icofont icofont-star"></i>
									<i class="icofont icofont-star"></i>
									<i class="icofont icofont-star"></i>
									<i class="icofont icofont-star"></i>
								</label>
							</li>
						</ul>
						
					</div>
				</div>
			</div>
			
			<div class="col-md-9 col-sm-9 col-xs-12">
				<div class="row shopdetail">
					<div class="col-sm-5 col-xs-12">
						<div class="image">
							<img src="../assets/images/bigimg.jpg" title="thumb image" alt="thumb image" class="img-responsive" />
						</div>
					</div>
					
					<div class="col-sm-7 col-xs-12">
						<h2>Product Title Here</h2>
						<div class="rating">
							<i class="icofont icofont-star"></i>
							<i class="icofont icofont-star"></i>
							<i class="icofont icofont-star"></i>
							<i class="icofont icofont-star"></i>
							<i class="icofont icofont-star"></i>
						</div>
						<div class="price">$45.00</div>
						<p class="shortdes">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed doeiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enimad minim veniam, quis nostrud exercitation ullamco laboris nisi utaliquip ex ea commodo consequat.</p>
						<div class="food">
							<h3>Food For</h3>
							<ul class="list-inline">
								<li>
									<label class="check">
										<input type="radio" name="payment" class="checkclass"/>
										Delivery
									</label>
								</li>
								<li>
									<label class="check">
										<input type="radio" name="payment" class="checkclass"/>
										Pickup
									</label>
								</li>
							</ul>
						</div>
						<div class="common">
							<p class="qtypara pull-left">
								<input type="text" name="quantity" value="1" size="2" id="input-quantity" class="form-control qty" />
							</p>
							<div class="buttons">
								<button type="button" class="btn-primary">order now</button>
								<button type="button" class="btn-primary">add to cart</button>
							</div>
						</div>
						
					</div>
					
					<div class="col-sm-12 col-xs-12">
						<ul class="nav nav-tabs">
							<li class="active"><a href="#tab-description" data-toggle="tab">description</a></li>
							<li><a href="#tab-review" data-toggle="tab">Reviews (3)</a></li>
							<li><a href="#tab-add" data-toggle="tab">add Review</a></li>
						</ul>
						<div class="tab-content">
							<div class="tab-pane active" id="tab-description">
								<p class="des">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed doeiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enimad minim veniam, quis nostrud exercitation ullamco laboris nisi utaliquip ex ea commodo consequat. Duis aute irure dolor inreprehenderit in voluptate velit esse cillum d. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed doeiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed doeiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enimad minim veniam, quis nostrud exercitation ullamco laboris nisi utaliquip ex ea commodo consequat. Duis aute irure dolor inreprehenderit in voluptate velit esse cillum d. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed doeiusmod tempor incididunt ut labore et dolore magna aliqua.
								<br>
								<br>
								Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed doeiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enimad minim veniam, quis nostrud exercitation ullamco laboris nisi utaliquip ex ea commodo consequat. Duis aute irure dolor inreprehenderit in voluptate velit esse cillum d. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed doeiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed doeiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
							</div>
							<div class="tab-pane" id="tab-review">
								<div class="box">
									<img src="../assets/images/review1.jpg" alt="image" title="image" class="img-responsive"/>
									<div class="detail">
										<h2>John Doe</h2>
										<span>2 days ago</span>
										<div class="rating">
											<i class="icofont icofont-star"></i>
											<i class="icofont icofont-star"></i>
											<i class="icofont icofont-star"></i>
											<i class="icofont icofont-star"></i>
											<i class="icofont icofont-star"></i>
										</div>
										<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed doeiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
									</div>
								</div>
								<div class="box">
									<img src="../assets/images/review2.jpg" alt="image" title="image" class="img-responsive"/>
									<div class="detail">
										<h2>John Doe</h2>
										<span>2 days ago</span>
										<div class="rating">
											<i class="icofont icofont-star"></i>
											<i class="icofont icofont-star"></i>
											<i class="icofont icofont-star"></i>
											<i class="icofont icofont-star"></i>
											<i class="icofont icofont-star"></i>
										</div>
										<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed doeiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
									</div>
								</div>
								<div class="box">
									<img src="../assets/images/review1.jpg" alt="image" title="image" class="img-responsive"/>
									<div class="detail">
										<h2>John Doe</h2>
										<span>2 days ago</span>
										<div class="rating">
											<i class="icofont icofont-star"></i>
											<i class="icofont icofont-star"></i>
											<i class="icofont icofont-star"></i>
											<i class="icofont icofont-star"></i>
											<i class="icofont icofont-star"></i>
										</div>
										<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed doeiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
									</div>
								</div>
							</div>
							<div class="tab-pane" id="tab-add">
								<form class="form-horizontal" id="form-review">
									<div class="form-group required">
										<div class="col-md-6 col-sm-12">
											<label class="control-label" for="input-name">Name*</label>
											<input type="text" name="name" value="" id="input-name" class="form-control" />
										</div>
										<div class="col-md-6 col-sm-12">
											<label class="control-label" for="input-email">Email*</label>
											<input type="text" name="email" value="" id="input-email" class="form-control" />
										</div>
									</div>
									<div class="form-group required">
										<div class="col-sm-12">
											<label class="control-label" for="input-review">Your Reviews*</label>
											<textarea name="text" rows="5" id="input-review" class="form-control"></textarea>
										</div>
									</div>
									<div class="rating">
										<p>Your Rating*</p>
										<i class="icofont icofont-star"></i>
										<i class="icofont icofont-star"></i>
										<i class="icofont icofont-star"></i>
										<i class="icofont icofont-star"></i>
										<i class="icofont icofont-star"></i>
									</div>
									<div class="buttons clearfix">
										<button type="submit" id="button-review" class="btn btn-primary">Submit</button>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
				
				<div class="row">
					<div class="col-sm-12 commontop text-center">
						<h4>our shop</h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam efficitur placerat nulla, in suscipit erat sodales id. Nullam ultricies eu turpis at accumsan. Mauris a sodales mi, eget lobortis nulla.</p>
						<hr>
					</div>
					<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
						<div class="product-thumb">
							<div class="image">
								<a href="shopdetail.html"><img src="../assets/images/shop/01.jpg" alt="image" title="image" class="img-responsive" /></a>
								<div class="hoverbox">
									<button type="button" class="btn-primary" onclick="location.href='shoppingcart.html'">order now</button>
								</div>
							</div>
							<div class="caption">
								<h4>Product Title Here</h4>
								<div class="rating">
									<i class="icofont icofont-star"></i>
									<i class="icofont icofont-star"></i>
									<i class="icofont icofont-star"></i>
									<i class="icofont icofont-star"></i>
									<i class="icofont icofont-star"></i>
								</div>
								<div class="price">$20.00</div>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas non eleifend erat, vitae aliquam metus. Donec orci tellus, rhoncus eget ipsum tempus, dignissim rutrum enim. Integer interdum sapien nec tempus luctus.</p>
								<button type="button" class="btn-primary" onclick="location.href='shoppingcart.html'">order now</button>	
							</div>
						</div>
					</div>
									
					<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
						<div class="product-thumb">
							<div class="image">
								<a href="shopdetail.html"><img src="../assets/images/shop/02.jpg" alt="image" title="image" class="img-responsive" /></a>
								<div class="hoverbox">
									<button type="button" class="btn-primary" onclick="location.href='shoppingcart.html'">order now</button>
								</div>
							</div>
							<div class="caption">
								<h4>Product Title Here</h4>
								<div class="rating">
									<i class="icofont icofont-star"></i>
									<i class="icofont icofont-star"></i>
									<i class="icofont icofont-star"></i>
									<i class="icofont icofont-star"></i>
									<i class="icofont icofont-star"></i>
								</div>
								<div class="price">$20.00</div>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas non eleifend erat, vitae aliquam metus. Donec orci tellus, rhoncus eget ipsum tempus, dignissim rutrum enim. Integer interdum sapien nec tempus luctus.</p>
								<button type="button" class="btn-primary" onclick="location.href='shoppingcart.html'">order now</button>	
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
						<div class="product-thumb">
							<div class="image">
								<a href="shopdetail.html"><img src="../assets/images/shop/03.jpg" alt="image" title="image" class="img-responsive" /></a>
								<div class="hoverbox">
									<button type="button" class="btn-primary" onclick="location.href='shoppingcart.html'">order now</button>
								</div>
							</div>
							<div class="caption">
								<h4>Product Title Here</h4>
								<div class="rating">
									<i class="icofont icofont-star"></i>
									<i class="icofont icofont-star"></i>
									<i class="icofont icofont-star"></i>
									<i class="icofont icofont-star"></i>
									<i class="icofont icofont-star"></i>
								</div>
								<div class="price">$20.00</div>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas non eleifend erat, vitae aliquam metus. Donec orci tellus, rhoncus eget ipsum tempus, dignissim rutrum enim. Integer interdum sapien nec tempus luctus.</p>
								<button type="button" class="btn-primary" onclick="location.href='shoppingcart.html'">order now</button>	
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- shop end here -->


<!-- newsletter start here -->
<div id="newsletter">
	<div class="container">
		<div class="row">
			<div id="subscribe">
				<form class="form-horizontal" name="subscribe">
					<div class="col-sm-7"> 
						<div class="input-group">
							<span class="news">newsletter</span>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam iaculis lorem augue, at quam finibus eget.</p>
						</div>
					</div>
					<div class="col-sm-5 form-group">
						<div class="input-group">
							<input  value="" name="subscribe_email" id="subscribe_email" placeholder="Email" type="text">
							<button class="btn btn-news" type="submit" value="submit">Send</button>
						</div>
					</div>
				</form>
			</div> 
		</div>
	</div>
</div>
<!-- newsletter end here -->


<!-- footer start here -->
<footer>
	<div class="container">
		<div class="row inner">
			<div class="col-sm-3">
				<h5>my account</h5>
				<ul class="list-unstyled">
					<li><a href="#">My Account</a></li>
					<li><a href="#">Order History</a></li>
					<li><a href="#">Wishlist</a></li>
					<li><a href="#">Newsletter</a></li>
					<li><a href="reservation.html">My Reservation</a></li>
				</ul>
			</div>
			<div class="col-sm-3">
				<h5>Information</h5>
				<ul class="list-unstyled">
					<li><a href="about_us.html">About us</a></li>
					<li><a href="#">Delivery Information</a></li>
					<li><a href="contact_us.html">Contact us</a></li>
					<li><a href="#">Terms & Conditions</a></li>
					<li><a href="#">Sitemap</a></li>
				</ul>
			</div>
			<div class="col-sm-3">
				<h5>Working Time</h5>
				<ul class="list-unstyled">
					<li>Monday - Friday : 9 am to 12 am.</li>
					<li>Saturday - Sunday : 24 Hour Open</li>
					<li>Breakfast : 7 am to 12 pm</li>
					<li>Lunch : 12 pm to 7 pm</li>
					<li>Dinner : 7 am to 12 am</li>
				</ul>
			</div>
			<div class="col-sm-3">
				<h5>Working Time</h5>
				<ul class="list-unstyled contact">
					<li><a href="#"><i class="icofont icofont-social-google-map"></i> 123 St 3, Restaurant Food & Drinks, Near Bala Ji Chownk, Ludhiana, INDIA</a></li>
					<li><a href="#"><i class="icofont icofont-phone"></i>1800 123 0000, +91 123457890</a></li>
					<li><a href="#"><i class="icofont icofont-ui-message"></i>Info@restaurant.com</a></li>
				</ul>
			</div>
		</div>
		<div class="row powered">
			<div class="col-sm-12">
				<hr>
			</div>
			<div class="col-sm-3">
				<img src="../assets/images/logo.png" class="img-responsive" title="logo" alt="logo">
			</div>
			<div class="col-sm-6 text-center">
				<p>Copyright © <span>Restaurant Food & Drinks</span> 2017. All Rights Reserved.</p>
			</div>
			<div class="col-sm-3 text-right">
				<ul class="list-inline social">
					<li><a href="https://www.facebook.com/" target="_blank"><i class="icofont icofont-social-facebook"></i></a></li>
					<li><a href="https://twitter.com/" target="_blank"><i class="icofont icofont-social-twitter"></i></a></li>
					<li><a href="https://plus.google.com/" target="_blank"><i class="icofont icofont-social-google-plus"></i></a></li>
					<li><a href="https://in.pinterest.com/" target="_blank"><i class="icofont icofont-social-pinterest"></i></a></li>
					<li><a href="https://www.instagram.com/" target="_blank"><i class="icofont icofont-social-instagram"></i></a></li>
					<li><a href="https://www.youtube.com/" target="_blank"><i class="icofont icofont-social-youtube-play"></i></a></li>
				</ul>
			</div>
		</div>
	</div>
</footer>
<!-- footer end here -->

<!-- jquery -->
<script src="../assets/js/jquery.2.1.1.min.js" type="text/javascript"></script>
<!-- bootstrap js -->
<script src="../assets/js/bootstrap.min.js" type="text/javascript"></script>
<!--bootstrap select-->
<script src="../assets/js/bootstrap-select.js" type="text/javascript"></script>
<!--internal js-->
<script src="../assets/js/internal.js" type="text/javascript"></script>
<!-- owlcarousel js -->
<script src="../assets/js/owl-carousel/owl.carousel.min.js" type="text/javascript"></script>
<!--Gallery js code-->
<script src="../assets/js/photo-gallery.js" type="text/javascript"></script>
</body>
</html>

