<!-- bread-crumb start here -->
<div class="bread-crumb">
	<img src="../assets/images/banner_top.jpg" class="img-responsive" alt="banner-top" title="banner-top">
	<div class="container">
		<div class="matter">
			<h2>Shopping Cart</h2>
			<ul class="list-inline">
				<li><a href="index.html">HOME</a></li>
				<li><a href="shoppingcart.html">Shopping Cart</a></li>
			</ul>
		</div>
	</div>
</div>
<!-- bread-crumb end here -->

<!-- cart start here -->
<div class="mycart">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<ul class="nav nav-tabs">
					<li class="active"><a href="#tab-cart" data-toggle="tab"><span>1</span>shopping cart</a></li>
					<li><a href="#tab-info" data-toggle="tab"><span>2</span>shopping info</a></li>
					<li><a href="#tab-payment" data-toggle="tab"><span>3</span>payment method</a></li>
				</ul>
				<div class="bor"></div>
				<div class="tab-content">
					<div class="tab-pane active" id="tab-cart">
						<form method="post" enctype="multipart/form-data">
							<h2>You have 2 items in your order.</h2>
							<div class="table-responsive">
								<table class="table  table-bordered">
									<thead>
										<tr>
											<td class="text-center">Name</td>
											<td class="text-center">Price</td>
											<td class="text-center">Qty.</td>
											<td class="text-center">Total</td>
											<td></td>
										</tr>
									</thead>
									<tbody>
										<tr ng-repeat="item in items track by $index">
											<td>
												<a href="#">
													<img ng-src="{{item.image}}" class="img-responsive" alt="thumb" title="thumb" />
												</a>
												<div class="name">
													<h4>{{item.name}}</h4>
													<p>{{item.description}}</p>
 													<div class="rating">
														<i class="icofont icofont-star" ng-style="(item.rating > 0) ? {'color' : '#FFA41F'} : {'color' : '#b2b2b2'}"></i>
														<i class="icofont icofont-star" ng-style="(item.rating > 1) ? {'color' : '#FFA41F'} : {'color' : '#b2b2b2'}"></i>
														<i class="icofont icofont-star" ng-style="(item.rating > 2) ? {'color' : '#FFA41F'} : {'color' : '#b2b2b2'}"></i>
														<i class="icofont icofont-star" ng-style="(item.rating > 3) ? {'color' : '#FFA41F'} : {'color' : '#b2b2b2'}"></i>
														<i class="icofont icofont-star" ng-style="(item.rating > 4) ? {'color' : '#FFA41F'} : {'color' : '#b2b2b2'}"></i>
													</div>
												</div>
											</td>
											<td class="text-center">$ {{item.price}}</td>
											<td class="text-center">
												<p class="qtypara">
													<span id="minus1" class="minus"><a ng-click="(item.numer > 0) ? item.number = item.number - 1 : item.number"><i class="icofont icofont-minus"></i></a></span>
													<input type="text" name="quantity" value="1" size="2" id="input-quantity1" class="form-control qty" />
													<span id="add1" class="add"><a ng-click="(item.numer < 10) ? item.number = item.number + 1 : item.number"><i class="icofont icofont-plus"></i></a></span>
													<input type="hidden" name="product_id" value="1" />
												</p>
											</td>
											<td class="text-center">${{item.price*number}}</td>
											<td class="text-center">
												<button type="button"><i class="icofont icofont-close-line"></i></button>
											</td>
										</tr>
										<tr>
											<td colspan="5">
												<h3 class="text-right">SUBTOTAL - $70.00</h3>
												<div class="buttons pull-left">
													<a href="" class="btn btn-primary">Continue Shopping</a>
												</div>
												<div class="buttons pull-right">
													<a href="" class="btn btn-primary">Checkout</a>
												</div>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</form>
					</div>
					<div class="tab-pane col-md-12 col-sm-12 col-xs-12" id="tab-info">
						<div class="col-md-5 col-sm-5 col-xs-12 padd0">
							<h6>shopping address</h6>
							<form method="post" ng-submit="submitShoppingAddress()">	
								<fieldset>	
									<div class="form-group">
										<input name="india" ng-model="adData.country" placeholder="india" id="input-india" class="form-control" type="text">
									</div>
									<div class="form-group">
										<input name="City" ng-model="adData.city" placeholder="City" id="input-City" class="form-control" type="text">
									</div>
									<div class="form-group">
										<input name="state" ng-model="adData.state" placeholder="state / region / province" id="input-state" class="form-control" type="text">
									</div>
									<div class="form-group">
										<input name="code" ng-model="adData.pin_code" placeholder="pin code" id="input-code" class="form-control" type="text">
									</div>
									<div class="form-group">
										<input name="address" ng-model="adData.address" placeholder="address" id="input-address" class="form-control" type="text">
									</div>
								</fieldset>
							</form>
						</div>
						<div class="col-md-2 col-sm-2 co-xs-12"></div>
						<div class="col-md-5 col-sm-5 col-xs-12 padd0">
							<h6>contact information</h6>
							<form method="post" enctype="multipart/form-data">	
								<fieldset>	
									<div class="form-group">
										<input name="firstname" ng-model="adData.first_name" placeholder="first name" id="input-firstname" class="form-control" type="text">
									</div>
									<div class="form-group">
										<input name="lastname" ng-model="adData.last_name" placeholder="last name" id="input-lastname" class="form-control" type="text">
									</div>
									<div class="form-group">
										<input name="email" ng-model="adData.email" placeholder="email" id="input-email" class="form-control" type="text">
									</div>
									<div class="form-group">
										<input name="phone" ng-model="adData.mobile_no" placeholder="mobile number" id="input-phone" class="form-control" type="text">
									</div>
								</fieldset>
							</form>
						</div>
						<div class="col-md-12 col-sm-12 col-xs-12 padd0">
							<div class="buttons pull-left">
								<button type="button" class="btn-primary">shopping cart</button>
							</div>
							<div class="buttons pull-right">
								<button type="button" class="btn-primary">payment method</button>
							</div>
						</div>
					</div>
					<div class="tab-pane col-md-12 col-sm-12 col-xs-12"  id="tab-payment">
						<form class="form-horizontal" method="post" ng-submit="placeOrder()">
							<fieldset>
								<div class="form-group ">
									<ul class="list-inline text-center link">
										<li class="active">
											<a href="#"><img src="../assets/images/visacard.png" alt="visa" title="visa" class="img-responsive"></a>
										</li>
										<li>
											<a href="#"><img src="../assets/images/master.png" alt="master" title="master" class="img-responsive"></a>
										</li>
										<li>
											<a href="#"><img src="../assets/images/discovers.png" alt="discover" title="discover" class="img-responsive"></a>
										</li>
										<li>
											<a href="#"><img src="../assets/images/pay.png" alt="paypal" title="paypal" class="img-responsive"></a>
										</li>
									</ul>
								</div>
								<div class="form-group">	
									<div class="col-sm-6">
										<input class="form-control" id="input-card" placeholder="card holder name" ng-model="cardData.holder_name" name="email" required="" type="text">
									</div>
									<div class="col-sm-6">
										<input class="form-control" id="input-expiry" placeholder="card number" ng-model="cardData.card_no" name="email" required="" type="text">
									</div>
								</div>	
								<div class="form-group">
									<label>end date</label>
									<div class="col-sm-3">
										<select class="selectpicker form-control bs-select-hidden" ng-model="cardData.end_date">
											<option selected="" value="0">mm</option>
											<option value="1">Jan</option>
											<option value="2">Feb</option>
											<option value="2">March</option>
											<option value="2">April</option>
											<option value="2">May</option>
										</select>
									</div>
									<div class="col-sm-3">
										<select class="selectpicker form-control bs-select-hidden" ng-model="cardData.end_year"> 
											<option selected="" value="0">year</option>
											<option value="1">2001</option>
											<option value="2">2002</option>
											<option value="2">2003</option>
											<option value="2">2004</option>
											<option value="2">2005</option>
										</select>
									</div>
									<div class="col-sm-2">
										<input class="form-control" id="input-cvv" placeholder="cvv" ng-model="cardData.cvv" name="email" required="" type="text">
									</div>
								</div>	
							</fieldset>
						</form>
						<div class="col-md-12 col-sm-12 col-xs-12 padd0">
							<div class="buttons pull-left">
								<button type="button" class="btn-primary">shopping cart</button>
							</div>
							<div class="buttons pull-right">
								<button type="button" class="btn-primary">place your order</button>
							</div>
						</div>
					</div>
				</div>	
			</div>
		</div>
	</div>
</div>
<!-- cart end here -->