<!-- bread-crumb start here -->
<div class="bread-crumb">
	<img src="../assets/images/banner_top.jpg" class="img-responsive" alt="banner-top" title="banner-top">
	<div class="container">
		<div class="matter">
			<h2>thank you</h2>
			<ul class="list-inline">
				<li><a href="index.html">HOME</a></li>
				<li><a href="thanks.html">Thank You</a></li>
			</ul>
		</div>
	</div>
</div>
<!-- bread-crumb end here -->

<!-- thanks start here -->
<div class="thanks">
	<div class="container">
		<div class="row">
			<div class="col-sm-10 col-sm-offset-1 text-center">
				<img src="../assets/images/right_icon.png" class="img-responsive" alt="icon" title="icon" />
				<h2>Congratulations. Your order<br> is accepted.</h2>	
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec dapibus mi eget ligula ornare, ut tempor urna convallis. Vivamus blandit laoreet risus, pulvinar hendrerit tortor efficitur vitae. Maecenas varius id erat tristique placerat. Donec ante ante, venenatis non lacus id, congue fringilla lorem. Aliquam vulputate, massa sagittis euismod semper, justo velit tempor lacus, eleifend eleifend lorem nisi sed elit.  </p>	
				<button type="button" class="btn-primary" onclick="location.href='index.html'">back to home</button>	
			</div>		</div>
	</div>
</div>
<!-- thanks end here -->